/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.
*/

$positive: #37a660;
$balanced: #30A75D;
$button-balanced-border: #30A75D;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// housematch global definitions and styles
@import "partials/hm-defs";
@import "partials/hm-globals";

// modules related
@import "partials/hm-documents";
@import "partials/modules/hm-init.mod";
@import "partials/modules/hm-exit.mod";
@import "partials/modules/hm-register.mod";
@import "partials/modules/hm-menu.mod";
@import "partials/modules/hm-news.mod";
@import "partials/hm-search";
@import "partials/modules/hm-forms.mod";
@import "partials/modules/hm-adds.mod";
@import "partials/modules/hm-profile.mod";
@import "partials/modules/hm-profile-edit.mod";
@import "partials/modules/hm-tutorial.mod";
@import "partials/modules/hm-detail.mod";
@import "partials/modules/hm-register-number.mod";
@import "partials/modules/hm-share.mod";
@import "partials/modules/hm-messages.mod";
@import "partials/hm-modal";


// directives and components
@import "partials/components/hm-user-add-item.cmp";
@import "partials/components/hm-button-footer.cmp";
@import "partials/components/hm-addvert.cmp";
@import "partials/components/hm-logo-bar.cmp";
@import "partials/components/hm-component.mod";
@import "partials/directives/hm-news.dir";
@import "partials/directives/hm-goods-bar.dir";
@import "partials/directives/hm-directive.mod";
@import "partials/directives/hm-map-popup.dir";

@import "partials/hm-media-queries";
