/**
 * Déclaration des styles du composant
 * hm-logo-bar.
 * @author Renaud Tripathi <ganeshrd@laposte.net>
 */

hm-logo-bar {
  .row {
    padding-top: 10px;
    height: $hm-logo-bar-height;
  }
  img {
    max-height: 40px;
  }
  .button-clear.button-clear {
    color: $hm-grey-74;
  }
  .left {
    text-align: left;
    img {
      padding-top: .5em;
      height: 2em;
      padding-left: .5em;
    }
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-logo-bar-cmp--phones-prtrt() {
}
@mixin media-logo-bar-cmp--phones-lndscp() {
}
