

hm-title {
  h1 {
    font-size: px2rem(17px);
  }
  h2 {
    font-size: px2rem(13px);
    margin-top: .2em;
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-component-mod--phones-prtrt() {
}
@mixin media-component-mod--phones-lndscp() {
}
