


hm-button-footer {
  div[hm-el="bar-title"] {
      margin-top: 10px !important;
      text-transform: uppercase;
      &.sub-title {
        line-height: 1.5em !important;
      }
  }
  div[hm-el="bar-sub-title"] {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1em;
    font-size: px2rem(13px);
  }
  .bar-footer {
    height: $hm-button-footer-height;
  }
  .bar.bar-balanced.bar-footer {
    &.disabled {
      background: grey;
    }
  }
}

.has-hm-button-footer {
  bottom: $hm-button-footer-height;
}
.has-hm-button-footer-twice {
  bottom: 2 * $hm-button-footer-height;
}

// mixins called in _hm-media-queries.scss
@mixin media-button-footer-cmp--phones-prtrt() {
}
@mixin media-button-footer-cmp--phones-lndscp() {
}
