/**
 * Décalration des styles du composant
 * hm-addvert.
 * encart publicitaire à destination des annonceurs.
 * @author Renaud Tripathi <ganeshrd@laposte.net>
 */

.hm-addvert {
  width : 100%; // preserve descendant's consistency 
  height : 33%;
  $padding-side-advert : 1rem;
  padding : .3rem $padding-side-advert .3rem $padding-side-advert;
  position: relative;
  &:before {
    content:'';
    position: absolute;
    right: $padding-side-advert;
    bottom: 0;
    width: 73%;
    border-bottom: solid 1px #979797;
  }
  div[hm-el="header"] {
    width : 100%;
    height: 35%;
    margin-bottom : .5rem;
    @include flex-box(row,flex-start);

    div[hm-el="header-left"] {
      width : 20%;
      text-align : center;
      @include flex-box(column,center);
      //img {
      //  width : 100%;
      //};
    };

    div[hm-el="header-right"] {
      width : 80%;
      // border-top : 1px solid $hm-dark-grey;
      margin-left : 0.5em;
      @include flex-box(column,center);
      font-size: px2rem(17px);

      span[hm-el="header"] {
        font-size : px2rem(14px);
        //display : block;
      };
      span[hm-el="subheader"] {
        font-family : hm-regular;
        font-size : px2rem(14px);
        color: $hm-grey-74;
        //display : block;
      };
    };
  };

  div[hm-el="body"] {
    width : 100%;
    height: 58%;
    @include flex-box(row,flex-start);
    
    div[hm-el="body-left"] {
      width : 20%;
      height : 100%;
    };
    div[hm-el="body-right"] {
      background-color : $hm-green;
      color : $hm-white;
      border-radius : 1em;
      padding : .5rem;
      margin-left : 0;
      width : 80%;
      @include flex-box(column,space-around);

      span[hm-el="intro"] {
        font-size: px2rem(12px);
        font-family: hm-regular;
      };
      span[hm-el="message"] {
        font-size: px2rem(18px);
        font-family: hm-light;
      };
      span[hm-el="contact"] {
        font-size: px2rem(12px);
        font-family: hm-regular;
        a {
          font-size : inherit;
          color : inherit;
        }
      };
    };
  };
}

// mixins called in _hm-media-queries.scss
@mixin media-addvert-cmp--phones-prtrt() {
}
@mixin media-addvert-cmp--phones-lndscp() {
}
