<!-- 
This is the tab container. It is injected within menu.html in the ion-nav-view tag.
Each ion-nav-view here recieves its own specific template.

author : Idriss Abouelaiz <idriss.abouelaiz@gmail.com>
author : Renaud Tripathi <ganeshrd@laposte.net>
 -->

<ion-view>

  <ion-nav-bar align-title="center">
  </ion-nav-bar>

  <ion-tabs>
    <ion-tab icon-off="hm-news-off" icon-on="hm-news-on" ui-sref="menu.tabs.news"> 
      <ion-nav-view name="menu-tabs-news"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="hm-match-off" icon-on="hm-match-on" ui-sref="menu.tabs.match"> 
      <ion-nav-view name="menu-tabs-match"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="hm-mail-off" icon-on="hm-mail-on" ui-sref="menu.tabs.mail"> 
      <ion-nav-view name="menu-tabs-mail"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-navicon-round" icon-on="ion-navicon-round" ng-click="menu_open()"> 
    </ion-tab>

</ion-tabs>

</ion-view>
