<!--
  The Contact template.
  Pre defined topics for users.
-->

<ion-view title={{::title}}>

  <ion-content>

  	<h1>TEST to "rate" modal:</h1>

  	<button ng-click="rateHm.show()">{{ 'Click to open' | translate }}</button>


  </ion-content>

</ion-view>
