<hm-logo-bar right-cb="ctrl.step = 1" right-icon="ctrl.step == 2 ? 'img/back-icon.png' : ''">
</hm-logo-bar>

<ion-content scroll="false" class="register-add has-header has-hm-button-footer">
  <!-- <hm-logo-bar right-cb="ctrl.step = 1"
  right-icon="ctrl.step == 2 ? 'img/back-icon.png' : ''">
  </hm-logo-bar> -->
  <div class="hm-container">


    <div class="hm-form">
      <form novalidate >

        <div ng-show="ctrl.step == 1">
          <div class="hm-header">
            <h2 class="smaller-h2">{{ 'register.add.0' | translate }}</h3>
          </div>
          <div class="hm-sub-header-1">
            {{ 'register.add.1' | translate }}
          </div>
          <hm-for ng-model="add.for"></hm-for>

          <hm-renting-bar ng-model="add.renting" name="renting"></hm-renting-bar>
          <hm-intent-bar ng-model="add.intent" name="intent"></hm-intent-bar>
        </div>

        <div ng-show="ctrl.step == 2">
          <div class="hm-header">
            <h2>{{ 'register.add.2' | translate }}</h2>
          </div>
          <div class="hm-sub-header-1">
            {{ 'register.add.1' | translate }}
          </div>
          <hm-geo ng-model="add.geo" name="geo"></hm-geo>
          <hm-goods-bar ng-model="add.goods" name="goods"></hm-goods-bar>

          <!-- LESSOR TARGET FORM -->
          <div ng-if="add.for=='lessor'" class="hm-form-row small-margin">
            <ionic-multi-date-picker input-obj="datepickerObject" class="hm-from">
              <button class="button icon ion-calendar icon-left button-hm">
                {{ (selectedDates.length == 0) ?
                  "Dates" :
                  ( periodIndeterminee ?
                  ( "À partir du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear()  ) :
                  "Du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear() + " au " + selectedDates[1].getDate() + "." + ((selectedDates[1].getMonth() + 1)| number:0) + "." + selectedDates[1].getFullYear() )
                }}
              </button>
            </ionic-multi-date-picker>
            <!-- <hm-period ng-model="add.period" name="period"></hm-period> -->
          </div>
          <hm-range-charge ng-model="add.charge" name="range_charge" ng-if="add.for=='lessor'"></hm-range-charge>

          <!-- TENANT TARGET FORM -->
          <div ng-if="add.for=='tenant'" class="hm-form-row">
            <ionic-multi-date-picker input-obj="datepickerObject" class="hm-from">
              <button class="button icon ion-calendar icon-left button-hm" ng-class="{'smaller-line-height': selectedDates.length != 0}">
                {{ (selectedDates.length == 0) ?
                  "Dates" :
                  ( periodIndeterminee ?
                  ( "À partir du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear()  ) :
                  "Du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear() + " au " + selectedDates[1].getDate() + "." + ((selectedDates[1].getMonth() + 1)| number:0) + "." + selectedDates[1].getFullYear() )
                }}
              </button>
            </ionic-multi-date-picker>
            <hm-fix-charge ng-model="add.charge" name="fix_charge"></hm-fix-charge>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<!-- SUBMIT -->
<button ng-if="false" class="button button-block button-positive text-uppercase" type="submit" ng-disabled="validation.btn_disabled">
  {{ 'btn_publish' | translate }}
</button>

<hm-button-footer title="ctrl.step == 1 ? 'btn_next' : 'TERMINÉ'" sub-title="ctrl.step + ' sur 2'"
                  ng-click="ctrl.next()" disabled="ctrl.isDisabled()"></hm-button-footer>
