<hm-logo-bar> </hm-logo-bar>

<ion-content scroll="false" class="register-tel has-header has-hm-button-footer">
  <div class="hm-container">

    <div class="hm-header">
      <h2>{{ 'id_challenge/header' | translate }}</h2>
    </div>
    <div class="hm-sub-header condition">
      {{ 'id_challenge/sub-header' | translate }}
    </div>

    <!-- code -->
    <div class="item item-input hm-input">
      <input type="number" ng-model="binds.code" placeholder="{{ 'id_challenge/input-label' | translate }}" required>
    </div>

    <!-- errors -->
    <div class="error" ng-if="binds.code_status=='error'">

      <div hm-el="icon"> <img src="img/svg/error.svg"> </div>
      <div class="non-valid"> {{ 'id_challenge/error-msg' | translate }} </div>

    </div>

    <div>
      {{ 'id_challenge/no-sms' | translate }}
    </div>
    <div>
      <a ng-click="ctrl.new_sms()">{{ 'id_challenge/no-sms-link' | translate }}</a>
    </div>

    <div>
      <a ui-sref="register.tel">{{ 'id_challenge/edit-phone-number' | translate }}</a>
    </div>

  </div>
</ion-content>

<!-- submit -->
<hm-button-footer title="'btn_next'" ng-click="ctrl.authenticate()"></hm-button-footer>
