<hm-logo-bar>
</hm-logo-bar>
<ion-content scroll="false" class="register-comment has-header has-hm-button-footer">
  <div class="hm-container">

    <div class="hm-header">
      <h1>{{'modal.about.0' | translate}}</h1>
    </div>
    <div class="hm-sub-header-1">{{ 'modal.about.1' | translate }}</div>
    <!-- <div class="hm-sub-header-2">
      {{ 'Parlez de HouseMatch autour de vous pour augmenter la portée de votre réseau !' | translate }}
    </div> -->


    <div class="list">

      <div class="item item-icon-left">
        <i class="icon hm-green-arrow"></i>
         {{ 'modal.about.2' | translate }}
      </div>

      <div class="item item-icon-left">
        <i class="icon hm-green-arrow"></i>
        {{ 'modal.about.3' | translate }}
      </div>

      <div class="item item-icon-left">
        <i class="icon hm-red-cross"></i>
        {{ 'modal.about.4' | translate }}
      </div>

      <div class="item item-icon-left">
        <i class="icon hm-red-cross"></i>
        {{ 'modal.about.5' | translate }}
      </div>

    </div>

    <div class="bottom-big-text">
      {{ 'modal.about.6' | translate }}
    </div>

  </div>
  <!-- submit -->
</ion-content>
<hm-button-footer title="'btn_agreed' | translate" ng-click="ctrl.compris()"></hm-button-footer>
