<hm-logo-bar></hm-logo-bar>
<ion-content scroll="false" class="register-name has-header has-hm-button-footer-twice">
  <div class="hm-container">
    <div class="hm-header">
      <h2>{{ 'register.name.0' | translate }}</h2>
    </div>
    <div class="hm-sub-header">
      {{ 'register.name.1' | translate }}
    </div>

    <!-- firstname -->
    <div class="item item-input hm-input">
      <input type="text" ng-model="bindings.firstname" required>
    </div>
    <h6 hm-el="label">{{ 'register.name.2' | translate }}</h6>

    <!-- name -->
    <div class="item item-input hm-input">
      <input type="text" ng-model="bindings.name" required>
    </div>
    <h6 hm-el="label">{{ 'register.name.3' | translate }}</h6>

    <!-- error -->
    <div hm-el="hm-error-msg" ng-if="ctrl.name_error">
      <img src="img/svg/error.svg">
      <p>{{'register.name.5' | translate}}</p>
    </div>

  </div>
</ion-content>

<hm-button-footer class="register-name" title="'btn_next'" ng-click="ctrl.next()"></hm-button-footer>

<!-- facebook login -->
<div hm-el="facebook-login" ng-click="ctrl.facebookLogin()">
  <img src="img/facebook-login.png"/>
  <div>Se connecter avec facebook</div>
</div>
