<ion-modal-view class="permissionRefusedModal">
  <img src="img/svg/Logo.svg"/>
  <ion-content class="margin">
    <h1>: (</h1>
    <h1>Désolé ...</h1>
    <p class="lighter">HouseMatch ne peut pas fonctionner sans l’accès à vos contacts</p>
    <p>HouseMatch ne revend pas vos données, n’envoie rien et ne publie rien sans votre accord.</p>
    <p class="lighter">Bonnes Recherches !</p>

    <div class="footer">
      <button class="button button-block button-positive" ng-click="ctrl.closeApp()">
        Compris
      </button>
      <button class="button button-block cancel" ng-click="ctrl.askPermission()">
        J'ai changé d'avis
      </button>
    </div>
  </ion-content>
</ion-modal-view>
