<!--div class="hm-bar" >
  <div class="row header">
    <div class="col col-25 cancel">
      <a class="button icon-left  button-clear button-dark" ng-click="goBack()" ng-hide="'register.name' | includedByState">
        <span ng-if="'register.tel' | includedByState">{{ 'btn_cancel' | translate }} </span>
        <i ng-hide="'register.tel' | includedByState" class="ion-chevron-left"></i>
      </a>
    </div>
    <div class="col col-50  text-center">
      <img src="img/svg/Logo.svg" width="50" height="50"/>
    </div>
  </div>
</div-->
<ion-nav-view> </ion-nav-view>
