<hm-logo-bar
  right-cb="ctrl.cancel()"
  right-name="'Annuler'">
</hm-logo-bar>
<ion-content scroll="false" class="register-tel has-header has-hm-button-footer">
  <div class="hm-container">

    <div class="hm-header">
      <h2>{{ 'register.tel.0' | translate }}</h2>
    </div>
    <div class="hm-sub-header condition">
      {{ 'register.tel.1' | translate }}
    </div>

    <!-- select dial code -->
    <div class="hm-dial-code">
      <select ng-model="binds.dial_code">
        <option ng-repeat="country in countries" value="{{country.dial_code}}">{{country.name}} {{country.dial_code}}</option>
      </select>
    </div>

    <!-- phone number -->
    <div class="item item-input hm-input">
      <input type="number" ng-model="binds.tel"
             placeholder="{{ 'register.tel.2' | translate }}"
             ng-change="ctrl.submit_phone_number(binds.tel)" required>
    </div>
    <h6 hm-el="label">{{ 'register.tel.3' | translate }}</h6>

    <!-- errors -->
    <div class="error" ng-if="msg_status!='no_message'">

      <div hm-el="icon">
        <img src="img/svg/error.svg">
      </div>

      <div class="message-error" ng-switch="msg_status">

        <div ng-switch-when="non_valid">
          <div class="non-valid">
            {{ 'register.tel.4.1' | translate }}
          </div>
        </div>

        <div ng-switch-when="resource_locked">
          <div class="resource-locked">
            <span>{{ 'register.tel.4.21' | translate }}</span>
            <div class="hm-link">
              <div><a>{{ 'register.tel.4.22' | translate }}</a></div>
              <div><a>{{ 'register.tel.4.23' | translate }}</a></div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- error -->
    <div hm-el="hm-error-msg" ng-if="ctrl.telError">
      <img src="img/svg/error.svg">
      <p>Merci d’indiquer un numéro de portable valide.</p>
    </div>
    <!-- policy -->
    <div class="condition">
      {{ 'register.tel.5.1' | translate }}
      <a ng-click="cgu.show()">{{ 'register.tel.5.2' | translate }}</a>{{ 'register.tel.5.3' | translate }}
      <a ng-click="privacy.show()">{{ 'register.tel.5.4' | translate }}</a>{{ 'register.tel.5.5' | translate }}
    </div>
  </div>

  <div id="sign-in-button" ></div>

  <!-- submit -->
</ion-content>
<!--<hm-button-footer title="'btn_next'" ng-click="ctrl.tel_status(false)" disabled="true"></hm-button-footer>-->
