<ion-modal-view>
  <div class="hm-bar padding hm-document-bar" >
    <div class="row header">
      <div class="col col-10 cancel">
        <a class="button icon-left  button-clear button-dark" ng-click="modal.hide()">
          <i class="ion-chevron-left"></i>
        </a>
      </div>
      <div class="col text-center">
        <h4>{{ 'policy.usage.0' | translate }}</h4>
      </div>
    </div>
  </div>
  <ion-content class="hm-document">
    <h3>{{ 'brand' | translate }}</h3>
    <h4>{{ 'policy.usage.0' | translate }}</h4>
    <p class="lighter">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting</p>
    <h5>The standard Lorem Ipsum passage</h5>
    <p class="lighter">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    </p>
    <h5>The standard Lorem Ipsum passage</h5>
    <p class="lighter">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    </p>
  </ion-content>
</ion-modal-view>
