<div class="hm-news-item">
  <div class="hm-news">
    <!-- the news header row -->
    <div class="hm-news-header">
      <div class="hm-news-header-left"> <!-- header left icon -->
        <img src="img/icons/key.svg" ng-if="$ctrl.data.for == 'tenant'">
        <img src="img/icons/search.svg" ng-if="$ctrl.data.for == 'lessor'">
      </div>
      <div class="hm-news-header-right"> <!-- header metadata -->
        <span>27 min.</span>
        <span hm-el="user-name">{{$ctrl.data.profile.surname}} {{$ctrl.data.profile.name}} {{ 'component.news.0' | translate }} </span>
        <span><img src="img/icons/rel-3.svg">&nbsp;3e cercle</span>
      </div>
    </div>  <!-- header -->
    <!-- the news body row -->
    <div class="hm-news-body">
      <div class="hm-news-body-left"> <!-- body left flag -->
        <span hm-el="side-text">OFFRE</span>
      </div> <!-- body left -->
      <div class="hm-news-body-right"> <!-- body data -->
        <hm-renting-bar></hm-renting-bar>
        <div class="hm-news-card">
          <div hm-el="panel">
            <span><img src="img/icons/calendar-black.svg">&nbsp;15 mars 2018</span>
            <span><img src="img/icons/place-black.svg">&nbsp;Paris 18 ième</span>
          </div>
          <div hm-el="panel">
            <span><img src="img/icons/euro-black.svg">&nbsp;900</span>
            <span><img src="img/icons/clock-green.svg">&nbsp;2 mois</span>
          </div>
        </div> <!-- card -->
      </div> <!-- body right -->
    </div> <!-- body -->
  </div> <!-- news -->
</div> <!-- item -->
