<hm-logo-bar left-cb="ctrl.skip()" left-name="'Passer'"></hm-logo-bar>
<ion-content  scroll="false" class="hm-share">

  <div ng-if="ctrl.step == 1">
    <div class="hm-container">
      <h1>{{'share.0' | translate}}</h1>
      <h1>{{'share.1' | translate}}</h1>
      <h1 class="smaller-20">{{'share.2' | translate}}</h3>
      </div>
      <hm-button-footer title="'OK'" ng-click="ctrl.next()"></hm-button-footer>
    </div>

    <div ng-if="ctrl.step == 2" hm-el="addList">
      <div class="hm-container">
        <h1>{{'share.3' | translate}}</h1>
        <div hm-el="img-container">
          <img src="img/message.png"/>
        </div>
        <h1 class="smaller-20">Envoyez-lui/leur un message et courez la chance de gagner un <span>déménagement gratuit,</span> des <span>bons d’achat Ikéa…</span></h1>
      </div>
      <hm-button-footer title="'VALIDER'" disabled="ctrl.canValidate()" ng-click="ctrl.next()"></hm-button-footer>
    </div>

    <div ng-if="ctrl.step == 3" class="two-buttons">
      <div class="hm-container">
        <h1>{{'share.5' | translate}}</h1>
        <p>
          <img hm-el="quotes-start" src="img/two-quotes-start.png"/>
          Bonjour,<br/>
          j’utilise HouseMatch, l’application qui met en relation les personnes de son réseau qui cherchent ou proposent un logement.
          <br/><br/>
          Faites suivre ce message et rendez-vous sur <span class="underline">www.HouseMatch.fr</span> pour télecharger l’application et trouver un match.
          <img hm-el="quotes-end" src="img/two-quotes-end.png"/>
        </p>
      </div>
      
      <div hm-el="button-sms" ng-click="ctrl.sendSms()">
        <img hm-el="button-icon" src="img/sms.png">
        <div>{{'share.9' | translate}}</div>
      </div>
      <div hm-el="facebook-login" ng-click="ctrl.shareWithFB()">
        <img hm-el="button-icon" src="img/facebook-login.png">
        <div>{{'share.10' | translate}}</div>
      </div>
    </div>

  </ion-content>
