<ion-view title="database reset">

  <ion-nav-buttons side="right">
  <button class="item button button-icon icon ion-close-round close-modal" ui-sref="nav.news"></button>
  </ion-nav-buttons>

  <ion-content>
    <div> {{ profile | json }} </div>
    <div>
      <span>Current user is : {{ profile.name }}</span>
      <button class="button" ng-click="ctrl.reset()">RESET DATABASE</button> 
    </div>
  </ion-content>

</ion-view>
