<ion-header-bar class="bar-balanced">
  <h1 class="title">{{template.title}}</h1>
  <button class="button" ui-sref="nav.news">back</button>
</ion-header-bar>

<ion-content>

  <ion-list>

    <ion-item class="item-button-right">
      <h3> <b> local_reset </b> </h3>
      <button class="button" ng-click="ctrl.local_reset()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> full_reset </b> </h3>
      <button class="button" ng-click="ctrl.full_reset()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> download test </b> </h3>
      <button class="button" ng-click="ctrl.download_test()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> upload test </b> </h3>
      <button class="button" ng-click="ctrl.upload_test()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> display id </b> </h3>
      <button class="button" ng-click="ctrl.get_id()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> get profile </b> </h3>
      <button class="button" ng-click="ctrl.get_user_profile()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> set profile </b> </h3>
      <button class="button" ng-click="ctrl.set_profile()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> set avatar </b> </h3>
      <button class="button" ng-click="ctrl.set_avatar()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> get avatar </b> </h3>
      <button class="button" ng-click="ctrl.get_avatar()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> get users </b> </h3>
      <button class="button" ng-click="ctrl.get_users()">exec</button>
    </ion-item>
    <ion-item class="item-button-right">
      <h3> <b> user matches </b> </h3>
      <button class="button" ng-click="ctrl.user_matches()">exec</button>
    </ion-item>


  </ion-list>

  <div style="text-align:center;" id="media"> </div>


</ion-content>
