<ion-view>

  <!--ion-content-->
  
    <!-- the header bar -->
    <ion-nav-bar align-title="center"> </ion-nav-bar>

    <!-- child view injection here -->
    <ion-nav-view name="test-view"></ion-nav-view>

    <!-- the footer bar with the navbar -->
    <ion-footer-bar>
      <div><span>DEV MODE</span></div>
    </ion-footer-bar>

  <!--/ion-content-->

</ion-view>
