<ion-view title="Zombie mode">

  <ion-nav-buttons side="right">
  <button class="item button button-icon icon ion-close-round close-modal" ui-sref="nav.news"></button>
  </ion-nav-buttons>

  <ion-content>
    <div>
      <span>Current user is : {{ user.name }}</span>
      <button class="button" ng-click="ctrl.reset_user()">RESET USER</button> 
    </div>
    <div class="list" ng-repeat="user in users">
      <div class="item" ng-click="ctrl.login(user)"> {{ user.profile.name }} </div>
    </div>
  </ion-content>

</ion-view>
