<ion-view class="match" title="{{title}}">

  <ion-content>

    <div ng-switch="user_has_adds"> <!-- SWITCH -->

      <div ng-switch-when="true">
        <ion-list>
          <ion-item ng-repeat="add in adds" ng-click="match_list(add)">
	    {{ add | json }}
          </ion-item>
        </ion-list>
      </div>

      <div ng-switch-when="false"> <!-- NO USER ADDS -->
        Vous devez créer une annonce pour avoir des matches.
      </div>

    </div>

  </ion-content>

</ion-view>

