<ion-view class="match" title="{{title}}">

  <ion-content>

    <div ng-switch="match_exists"> <!-- SWITCH -->

      <div ng-switch-when="true">
        <ion-list>
          <ion-item ng-repeat="add in matches" ui-sref="detail.add({ 'args': { 'add':add } })">
	    {{ add | json }}
          </ion-item>
        </ion-list>
      </div>

      <div ng-switch-when="false"> <!-- NO MATCH -->
        Mais ne perdez pas espoir
      </div>

    </div>

  </ion-content>

</ion-view>

