<ion-view>

  <div class="bar bar-header hm-cmd-bar">
    <!--div class="button">btn-left</div-->
    <h1 class="title">titre</h1>
    <!--div class="button">btn-right</div-->
  </div>
  <div class="bar bar-subheader hm-title-bar">
    <span class="title">{{ 'menu.0' | translate }}</span>
  </div>

   <ion-content class="has-subheader hm-menu-bg">

     <ul class="hm-menu-list">
       <li class="hm-list-separator"></li>
       <menu-item ng-repeat="item in dev_topics" item="item"></menu-item>
       <li class="hm-list-separator"></li>
       <menu-item ng-repeat="item in read_topics" item="item"></menu-item>
       <menu-item ng-repeat="item in edit_topics" item="item"></menu-item>
       <menu-item ng-repeat="item in config_topics" item="item"></menu-item>
     </ul>

   </ion-content>

</ion-view>
