/**
 * Housematch style for user network
 * @deprecated too many class name, fixed values
 */
@debug '_hm-news.dir.scss';

.hm-news-header-left, .hm-news-body-left, .hm-news-header-right, .hm-news-body-right {
  background-color : $light;
}

/**
 * @deprecated
 * fixed value
 */
.hm-news-card {
  margin-top : .5rem;
  border-radius : 5px;
  border-bottom : none;
  background-color : $hm-grey;
}

// we define a max fixed size here in order to preserve
// descendant's consistency
.hm-news-item {
  background-color : $light;
  // padding : 1em;
  width : 100%;

}

.hm-news {
  background-color : $light;
  width : 100%;
  @include flex-box(column,center);
  $padding-side : 1rem;
  padding : .3rem $padding-side .5rem $padding-side;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: $padding-side;
    width: 73%;
    border-bottom: solid 1px #979797;
  }
}

.hm-news-header, .hm-news-body {
  @include flex-box(row,flex-start);
}

.hm-news-header {
  // margin-bottom : 1em;
}

.hm-news-header-left, .hm-news-body-left {
  width : 20%;
}

.hm-news-header-right, .hm-news-body-right {
  width : 80%;
}

.hm-news-header-left {
  text-align : center;
  @include flex-box(column,center);
}

.hm-news-header-right {
  span {
    display : block;
    color: black;
    font-size: px2rem(14px);
    &.time {
      color: $hm-grey-74;
      font-size: px2rem(12px);
    }
    &[hm-el="user-name"] {
      span.action-type {
        display: inline;
        font-family: hm-bold;
     }
    }
    img {
      height : px2rem(13px);
      vertical-align : text-bottom;
    }
    &.cercles-img {
      display: inline;
    }
    &.cercle {
      color: $hm-grey-74;
      display: inline;
    }
  }
}

.hm-news-body-left {
  @include flex-box(column,center);
}

// defines the news vertical flag
span[hm-el="side-text"] {
  font-family: hm-light;
  display : block;
  margin-left : auto;
  margin-right : auto;
  white-space:nowrap;
  height: 19px;
  // width: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: -2.4rem;
  text-align : center;
  // text-decoration : underline;
  font-size: px2rem(26px);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  &.tenant {
    color:$hm-green;
    left: -.9rem;
    // border-bottom-color: $hm-green;
  }
  &:before, &.green:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 1px;
    width: 80%;
    border-bottom: 1px solid $hm-grey-74;
  }
  &.green:before {
    border-bottom-color: $hm-green;
  }
}

.hm-news .hm-renting {
  margin-top: px2rem(7px);
  height: 40px;
  a.button {
    min-height: 37px;
  }
  span {
    line-height: 1;
    font-family: "hm-medium";
  }
}

/**
 * @deprecated fixed value
 */
.hm-news-card {
  padding : px2rem(8px);
  div[hm-el="timeframe-panel"] {
    @include flex-box(row,center);
  };
  div[hm-el="no-frame-panel"] {
    @include flex-box(row,center);
  };
}

div[hm-el="panel"] {
  width : 100%;
  overflow : hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
  font-size: px2rem(12px);
  .subpanel {
    display : block;
    .subsubpanel {
      display: inline-block;
      &.image {
        width: 25px;
        text-align: center;
      }
    }
  }
  img {
    // max-width : px2rem(20px);
    height : px2rem(20px);
    vertical-align : text-bottom;
  }
}

div[hm-el="panel"]:first-child {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    height: 75%;
    width: 2px;
    border-right: solid 1px;
  }
}
div[hm-el="panel"]:last-child {
  padding-left : .4rem;
}

div[hm-el="bottom-panel"] {
  font-size: px2rem(12px);
  span {
    display : block;
    
    // font-family: hm-bold;
   img {
      max-width: px2rem(20px);
      max-height: px2rem(20px);
      vertical-align : text-bottom;
    };
  };
}

.hm-news-map {
  width : 100%;
  height : 9em;
  background-color: $hm-grey;
  margin-top : 1em;
}

div[hm-el="hm-visibility-help"] {
  display: flex;
  p {
    width: 60%;
    padding-top: 2em;
    margin-right: .5em;
    margin-bottom: -1em;
    font-size: px2rem(10px);
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-news-dir--phones-prtrt() {
}
@mixin media-news-dir--phones-lndscp() {
}
