/**
 * Housematch style for user network
 * @deprecated too many class name, fixed values
 */
@debug '_hm-directive.mod.scss';

input[type="range"]{
    background-image: gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #30A75D),
        color-stop(0.15, $balanced)
    );
}

hm-description {
  input[type="text"] {
    padding-left: 1em;
    height: 5em;
    padding-top: 0;
    font-family: hm-bold;
  }
  textarea {
    padding-left: 1em;
    padding-top: 2.5em;
    font-family: hm-bold;
  }
  .hm-form-group-item-container div.subcontainer-div {
    background-color: $hm-grey;
    border-radius: 10px;
    &.text {
      height: 7rem;
    }
  }
  div[hm-el="label-input"] {
    position: relative;
    display: inline-block;
    width: 10%;
  }
  .subsubcontainer-div {
    display: inline-block;
    width: 80%;
  }
}



hm-images {
  div[hm-el="media-empty"] {
    text-align: center;
    img {
      height: 9em;
    }
  }
  div[hm-el="media"] {
    padding: 0 2em 0 0;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      border: 1px solid #efefef;
    }
    a {
      position: absolute;
      top: -1em;
      right: .5em;
      img {
        height: 3em;
        width: 3em;
        border: none;

      }
    }
  }
  .col {
    height: 9em;
  }
  div[hm-el="media-plus"] {
    text-align: center;
    background: $balanced;
    img {
      height: 3em;
      margin-top: 2.5em;
    }
  }
  label {
    margin-top: 1em;
    font-size: px2rem(16px);
    span {
      font-size: px2rem(9px);
      color: $hm-grey-74;
    }
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-directive-mod--phones-prtrt() {
}
@mixin media-directive-mod--phones-lndscp() {
}
