/**
 * Housematch style for map's popup
 */

@debug '_hm-map-popup.dir.scss';

// we define a max fixed size here in order to preserve
// descendant's consistency
.hm-map-popup-item {
  background-color : $light;
  width : 100%;
  @include flex-box(column,center);
}

.hm-map-popup-header {
  width : 100%;
  @include flex-box(row,space-around);
  div[hm-el="header-container"] {
    span {
      display : block;
      color: black;
      font-size: px2rem(14px);
      img {
        height : px2rem(13px);
        vertical-align : text-bottom;
      };
      &.cercles-img {
        display: inline;
      };
      &.cercle {
        color: $hm-grey-74;
        display: inline;
      };
    };
  };
}

.hm-map-popup-renting {
  width : 100%;
}

.hm-map-popup-card {
  width : 100%;
  margin-top : 0.5rem;
  div[hm-el="timeframe-panel"] {
    @include flex-box(row,center);
  };
  div[hm-el="no-frame-panel"] {
    @include flex-box(row,center);
  };
}
