/**
 * Housematch style for user network
 * @deprecated too many class name, fixed values
 */
@debug '_hm-goods-bar.dir.scss';
// hm-goods-bar {
//   div[hm-el="subtitle"] {
//     font-size: px2rem(17px);
//     margin-left: .5em;
//     padding-top: 1em;
//     margin-top: .2em;
//     span {
//       font-size: px2rem(13px);
//     }
//   }
//   .button-bar > .button:first-child {
//     min-width: 7em;
//     border-radius: 0.7em 0 0 0.7em;
//   }
//   .button-bar > .button:last-child {
//     border-radius: 0 0.7em 0.7em 0;
//   }
//   .button {
//     background: #f2f2f2;
//     min-height: 1.3em;
//   }
// }

// mixins called in _hm-media-queries.scss
@mixin media-goods-bar-dir--phones-prtrt() {
}
@mixin media-goods-bar-dir--phones-lndscp() {
}
