<!-- 
  the hm_datepicker directive template
-->
<div class="hm-from">

  <div>
    <img src="img/icons/calendar-gray.svg">
  </div>
  
  <div>
    <span>{{ date | hm_datepicker }}</span>
  </div>

</div>
