<!--
  Description d'une annonce
-->

<div class="hm-form-group-item-container">

  <!--div class="subcontainer-div">
    <div class="row" hm-el="label-input">
        <img src="img/title.png">
    </div>
    <div class="subsubcontainer-div">
      <input type="text" ng-maxlength="50" ng-model="description.title" placeholder="{{ 'description.0' | translate}}" name="title" id="title">
    </div>
  </div-->

  <div class="subcontainer-div text">
    <div class="row" hm-el="label-input">
        <img src="img/home.png">
    </div>
    <div class="subsubcontainer-div">
      <textarea ng-maxlength="300" ng-model="description.text" placeholder="{{'description.1' | translate}}" name="text" id="text">
      </textarea>
    </div>
  </div>

</div>
