<!--
  fix charge control from hm-fix-charge directive
  i.e. for lessor's forms
-->

<div class="hm-fix-charge">

  <div>
    <img src="img/euro-grey.png">
  </div>
  <div>
    <input type="number" name="charge" ng-model="fix_charge_ctrl.charge" 
                                       ng-blur="fix_charge_ctrl.assign_model()"
                                       placeholder="{{'directive.charge.0' | translate }}"
                                       value="fix_charge_ctrl.charge"> 
  </div>

</div>
