<!--
  Présentation du switch de la cible de l'annonce
  i.e. 'tenant' ou 'lessor'
-->
<div class="hm-for">
  <div hm-el="choice">
    <span hm-el="text">{{ 'directive.for.0' | translate }}</span><br><span hm-el="sub-text">{{ 'directive.for.0.1' | translate }}</span>
  </div>
  <div class="">
    <label class="toggle toggle-hm">
      <input type="checkbox" ng-model="for" ng-false-value="'lessor'" ng-true-value="'tenant'">
        <div class="track">
          <div class="handle"></div>
        </div>
    </label>
  </div>
  <div hm-el="choice">
    <span hm-el="text">{{ 'directive.for.1' | translate }}<span><br><span hm-el="sub-text">{{ 'directive.for.1.1' | translate }}</span>
  </div>
</div>
