<!--
  Saisie de l'adresse
-->
<div class="hm-geo">

  <div>
    <img src="img/icons/place-gray.svg">
  </div>

  <div hm-el="input-container">
    <input type="text" placeholder="{{'filter.geo.0' | translate}}" google-autocomplete-suggestion
            location="location"
            country-code="{{geo_ctrl.country}}"
            on-selection="save(location)"
            ng-model="geo.address" readonly required>
  </div>
</div>
