<!--
  Barre de sélection du type de logement
-->
<div hm-el="subtitle"> {{ goods_bar_ctrl.title }} :  <span>  {{ goods_bar_ctrl.subtitle }}</span></div>

<div class="button-bar hm-goods-bar">

  <a class="button" ng-click="toggle_button(0)" ng-class="{selected:is_selected(0)}">{{ 'directive.goods_bar.1' | translate }}</a>
  <a class="button" ng-click="toggle_button(1)" ng-class="{selected:is_selected(1)}">2</a>
  <a class="button" ng-click="toggle_button(2)" ng-class="{selected:is_selected(2)}">3</a>
  <a class="button" ng-click="toggle_button(3)" ng-class="{selected:is_selected(3)}">4</a>
  <a class="button" ng-click="toggle_button(4)" ng-class="{selected:is_selected(4)}">5+</a>

</div>
