<!--
  Sélection du type de logement
-->

<!--div class="hm-form-item-container-start"-->
<div class="hm-goods">

  <div>
    <img src="img/icons/home.svg">
  </div>

  <div>
    <span>{{ goods | hm_goods }}</span>
  </div>

</div>
