<!--
  Choix des photos d'une annonce
-->

<div class="hm-form-group-item-container">

  <label>{{ "Photos" | translate }} : <span> ( {{ "Nbr max de photos" | translate }} : 3 )</span></label>
    <div ng-if="params.img_container_length == 0" hm-el="media-empty">
      <img src="img/icons/add-media.svg" ng-click="add_picture()"></img>
    </div>
    <div ng-if="images.length > 0" class="hm-form-item-container-even">
      <div class="row">
        <div ng-repeat="image in images" class="col col-33" hm-el="media">
          <img ng-src="{{(image.isBase64 ? 'data:image/jpeg;base64,' : '') + image.src}}">
          <a ng-click="images_ctrl.deletePitures($index)"><img src="img/x-button.png"/></a>
  	    </div>

        <div class="col col-33" hm-el="media-plus" ng-click="add_picture()" ng-if="images.length < 3">
          <img src="img/plus.svg" ></img>
        </div>
      </div>
    </div>

</div>
