<div class="hm-map-popup-item" ng-switch="add.meta"> <!-- for lessor = 2;for tenant = 3; avatar = 5; not avatar = 7 -->

  <!-- the news header row -->
  <div class="hm-map-popup-header">

    <div hm-el="header-container">
      <span ng-if="add.for=='tenant'"> {{'directive.renting.6' | translate }} </span>
      <span ng-if="add.for=='lessor'"> {{'directive.renting.7' | translate }} </span>
    </div>
    <div hm-el="header-container">
      <span class="cercles-img" ng-if="add.distance < 3">
        <img src="img/icons/rel-2.svg">
      </span>
      <span class="cercles-img" ng-if="add.distance >= 3">
        <img src="img/icons/rel-3.svg">
      </span>
      <span class="cercle">
        &nbsp;{{add.distance}}{{'directive.renting.8' | translate}}
      </span>
    </div>

  </div>  <!-- header -->

  <!-- the popup renting bar  -->
  <div class="hm-map-popup-renting">
      <hm-static-renting-bar ng-model="add.renting"></hm-static-renting-bar>
  </div>

  <div class="hm-map-popup-card" ng-switch="add.period.timeframe">

    <div ng-switch-when="true" hm-el="timeframe-panel">

      <div hm-el="panel"> <!-- left panel -->

        <div class="subpanel">
          <div class="subsubpanel image"><img src="img/icons/calendar-black.svg"></div>
          <div class="subsubpanel">{{add.period.from | date : 'dd MMM yyyy'}}</div>
        </div>
        <div class="subpanel">
          <div class="subsubpanel image"><img src="img/icons/place-black.svg"></div>
          <div class="subsubpanel">{{add.geo.address}}</div>
        </div>

      </div>  <!-- /left-panel -->

      <div hm-el="panel"> <!-- right panel -->

            <div class="subpanel">
              <div class="subsubpanel image"><img src="img/icons/euro-black.svg"></div>
              <div class="subsubpanel">{{add.charge}} euros</div>
            </div>
            <div class="subpanel">
              <div class="subsubpanel image"><img src="img/icons/clock-black.svg"></div>
              <div class="subsubpanel">{{add.period | hm_period}}</div>
            </div>

      </div> <!-- /right panel -->

    </div> <!-- /ng-switch-when=true -->

    <div ng-switch-when="false" hm-el="no-frame-panel">

      <div hm-el="panel"> <!-- left panel -->
        <div class="subpanel">
          <div class="subsubpanel image"><img src="img/icons/calendar-black.svg"></div>
          <div class="subsubpanel">{{add.period.from | date : 'dd MMM yyyy'}}</div>
        </div>
        <div class="subpanel">
          <div class="subsubpanel image"><img src="img/icons/place-black.svg"></div>
          <div class="subsubpanel">{{add.geo.address}}</div>
        </div>
      </div> <!-- /left-panel --> 

      <div hm-el="panel"> <!-- right panel -->
        <div class="subpanel">
          <div class="subsubpanel image"><img src="img/icons/euro-black.svg"></div>
          <div class="subsubpanel">{{add.charge}} euros</div>
        </div>
        <div class="subpanel">
          <div class="subsubpanel image"><img src="img/icons/clock-black.svg"></div>
          <div class="subsubpanel">{{add.period | hm_period}}</div>
        </div>
      </div> <!-- /right panel -->

    </div> <!-- /ng-switch-when=false -->

  </div> <!-- /hm-popup-card -->

</div> <!-- hm-popup-map-item -->
