<div class="hm-news-item" ng-switch="add.meta"> <!-- for lessor = 2;for tenant = 3; avatar = 5; not avatar = 7 -->
  <div class="hm-news">
    <!-- the news header row -->
    <div class="hm-news-header">
      <div class="hm-news-header-left"> <!-- header left icon -->
        <img ng-src="img/icons/key.svg" ng-switch-when="21"> <!-- not avatar * for tenant -->
        <img ng-src="img/icons/search.svg" ng-switch-when="14"> <!-- not avatar * for lessor -->
        <img ng-src="'{{add.profile.avatar}}'" ng-switch-default> <!-- avatar * any -->
      </div>
      <div class="hm-news-header-right"> <!-- header metadata -->
        <span am-time-ago="add.timestamp | amFromUnix" class="time"></span>
        <span hm-el="user-name" ng-switch-when="15"> <!-- for tenant * avatar -->
          {{add.profile.firstname}}&nbsp;{{add.profile.name}}&nbsp;
          <span class="action-type">{{'directive.renting.4' | translate}}</span>&nbsp;{{'directive.renting.9' | translate}}
        </span>
        <span hm-el="user-name" ng-switch-when="21"> <!-- for tenant * not avatar -->
          {{add.profile.firstname}}&nbsp;{{add.profile.name}}&nbsp;
          <span class="action-type">{{'directive.renting.4' | translate}}</span>&nbsp;{{'directive.renting.9' | translate}}
        </span>
        <span hm-el="user-name" ng-switch-when="10"> <!-- for lessor -->
          {{add.profile.firstname}}&nbsp;{{add.profile.name}}&nbsp;
          <span class="action-type">{{'directive.renting.5' | translate}}</span>&nbsp;{{'directive.renting.9' | translate}}
        </span>
        <span hm-el="user-name" ng-switch-when="14"> <!-- for lessor -->
          {{add.profile.firstname}}&nbsp;{{add.profile.name}}&nbsp;
          <span class="action-type">{{'directive.renting.5' | translate}}</span>&nbsp;{{'directive.renting.9' | translate}}
        </span>
        <span class="cercles-img" ng-if="add.distance < 3">
          <img src="img/icons/rel-2.svg">
        </span>
        <span class="cercles-img" ng-if="add.distance >= 3">
          <img src="img/icons/rel-3.svg">
        </span>
        <span class="cercle">
          &nbsp;{{add.distance}}{{'directive.renting.8' | translate}}
        </span>
      </div>
    </div>  <!-- header -->
    <!-- the news body row -->
    <div class="hm-news-body">

      <div class="hm-news-body-left" ng-switch="add.for"> <!-- body left flag -->
        <span hm-el="side-text" class="tenant" ng-switch-when="tenant">{{'directive.renting.6' | translate}}</span>
        <span hm-el="side-text" ng-switch-when="lessor">{{'directive.renting.7' | translate}}</span>
      </div> <!-- body left -->

      <div class="hm-news-body-right"> <!-- body data -->
      
        <hm-static-renting-bar ng-model="add.renting"></hm-static-renting-bar>

        <div class="hm-news-card" ng-switch="add.period.timeframe">

          <div ng-switch-when="true" hm-el="timeframe-panel">
            <div hm-el="panel"> <!-- left panel -->
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/calendar-black.svg"></div>
                <div class="subsubpanel">{{add.period.from | amFromUnix | amDateFormat:'DD MMM YYYY'}}</div>
              </div>
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/place-black.svg"></div>
                <div class="subsubpanel">{{add.geo.address}}</div>
              </div>
            </div>
            <div hm-el="panel"> <!-- right panel -->
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/euro-black.svg"></div>
                <div class="subsubpanel">{{add.charge}} euros</div>
              </div>
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/clock-black.svg"></div>
                <div class="subsubpanel">{{add.period | hm_period}}</div>
              </div>
            </div>
          </div> <!-- /when true -->

          <div ng-switch-when="false" hm-el="no-frame-panel">
            <div hm-el="panel"> <!-- left panel -->
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/calendar-black.svg"></div>
                <div class="subsubpanel">{{add.period.from | amFromUnix | amDateFormat:'DD MMM YYYY'}}</div>
              </div>
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/place-black.svg"></div>
                <div class="subsubpanel">{{add.geo.address}}</div>
              </div>
            </div>
            <div hm-el="panel"> <!-- right panel -->
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/euro-black.svg"></div>
                <div class="subsubpanel">{{add.charge}} euros</div>
              </div>
              <div class="subpanel">
                <div class="subsubpanel image"><img src="img/icons/clock-black.svg"></div>
                <div class="subsubpanel">{{add.period | hm_period}}</div>
              </div>
            </div>
          </div> <!-- /when false -->
          <!-- <div ng-switch-when="false" hm-el="bottom-panel">
            
          </div> -->

        </div> <!-- card -->

        <!--div class="hm-news-map" ng-if="add.for=='lessor'" id="map{{index}}"--> 
        <div class="hm-news-map" id="map{{index}}">
          Loading leaflet map...
        </div> <!-- map -->
      </div> <!-- body right -->
    </div> <!-- body -->
  </div> <!-- news -->
</div> <!-- item -->
