<!--
  range charge control from hm-range-charge directive
  i.e. for tenant's forms
-->
<div class="hm-range-charge">

  <div>
    <span hm-el="text"> {{ 'directive.charge.1' | translate }} </span><span hm-el="value"> {{ getCharge() }} </span>
  </div>

  <div class="item range range-balanced">
    <input type="range" name="charge" id="charge" ng-style="getRangeStyle(charge)" ng-model="charge" min="0" max="3000">
  </div>

</div>
