<div class="button-bar hm-renting">

  <!-- location -->
  <a class="button" ng-class="{'active' : renting_ctrl.types[2] && !renting_ctrl.isAllSelected()}" ng-click="renting_ctrl.selectType(2)"> 
    <div ng-class="{'selected' : renting_ctrl.isAllSelected()}"><span>{{ 'directive.renting.0' | translate }}</span></div>
  </a>

  <!-- sous location -->
  <a class="button" ng-class="{'active' : renting_ctrl.types[3] && !renting_ctrl.isAllSelected()}" ng-click="renting_ctrl.selectType(3)"> 
    <div ng-class="{'selected' : renting_ctrl.isAllSelected()}"><span>{{ 'directive.renting.1' | translate }}</span><br>
                                                                <span>{{ 'directive.renting.1.1' | translate }}</span></div>
  </a>

  <!-- colocation -->
  <a class="button" ng-class="{'active' : renting_ctrl.types[5] && !renting_ctrl.isAllSelected()}" ng-click="renting_ctrl.selectType(5)">
    <div ng-class="{'selected' : renting_ctrl.isAllSelected()}"><span>{{ 'directive.renting.2' | translate }}</span></div>
  </a>

  <!-- tous -->
  <a class="button" ng-class="{'active' : renting_ctrl.isAllSelected()}" ng-click="renting_ctrl.selectAllType()">
    <div><span>{{ 'directive.renting.3' | translate }}</span></div>
  </a>

</div>
