<!--
  Barre de sélection du type de logement
-->
<div hm-el="scroll">
  <button class="button icon custom-pencel"  ng-click="gotoBottom()">
    <img src="img/scroll.png"/>
  </button>
</div>
<div id="bottom"></div>
