<div class="button-bar hm-renting">

  <!-- location -->
  <a class="button" ng-class="{'active' : renting % 2 == 0}"> 
    <div><span>{{ 'directive.renting.0' | translate }}</span></div>
  </a>

  <!-- sous location -->
  <a class="button" ng-class="{'active' : renting % 3 == 0}"> 
    <div>
      <span>{{ 'directive.renting.1' | translate }}</span><br>
      <span>{{ 'directive.renting.1.1' | translate }}</span>
    </div>
  </a>

  <!-- colocation -->
  <a class="button" ng-class="{'active' : renting % 5 == 0}">
    <div><span>{{ 'directive.renting.2' | translate }}</span></div>
  </a>

  <!-- tous >
  <a class="button" ng-class="{'active' : ctrl.isAllSelected()}" ng-click="ctrl.selectAllType()">
    <div><span>{{ 'directive.renting.3' | translate }}</span></div>
  </a-->

</div>
