<!--
  Présentation du switch d'intention de l'utilisateur
  i.e. à l'écoute du marché ou en recherche active
-->
<div class="hm-user-intent">
  <div hm-el="choice">
    <span hm-el="text">{{ "directive.intent.0" | translate }}</span><br><span hm-el="sub-text">{{ "directive.intent.1" | translate }}</span>
  </div>
  <div class="">
    <label class="toggle">
      <input type="checkbox" ng-model="intent" ng-false-value="'open'" ng-true-value="'activ'">
        <div class="track">
          <div class="handle"></div>
        </div>
    </label>
  </div>
  <div hm-el="choice">
    <span hm-el="text">{{ "directive.intent.2" | translate }}<span><br><span hm-el="sub-text">{{ "directive.intent.3" | translate }}</span>
  </div>
</div>
