<div class="button-bar hm-renting">

  <a class="button" ng-click="toggle_button('activ')" ng-class="{active:is_selected('activ')}">
    <span>{{ 'directive.renting.10' | translate }}</span>
  </a>
  <a class="button" ng-click="toggle_button('open')" ng-class="{active:is_selected('open')}">
    <span>{{ 'directive.renting.11' | translate }}</span>
  </a>

</div>
<div hm-el="hm-visibility-help">
  <p>
    Pas de besoin à l’heure actuelle. Mais si une superbe opportunité se présente, alors pourquoi pas…
  </p>
  <img src="img/lines.png"/>
</div>
