/**
 * HouseMatch style for add forms
 * @deprecated too many class name, fixed value
 * @todo merge with _hm-form.mod.scss
 */

.search{
  .container{
    padding: 15px;
    margin-top: 65px;
    .question{
      font-family: hm-bold;
      font-size: 1.8em;
    }

    .additional-infos{
      font-size: 0.9em;
      line-height: 1;
      margin: 5px 0px;
    }

    .choice{
        text-align: center;
        font-size: 1.5em;
      line-height: 0.8em;
      .sub-text{
        font-size: 0.6em;
      }
    }

    .toggle input+ .track {
      border-color: $positive;
      background-color: $positive;
    }

    .item-input{
      border-radius: 10px;
      border-color: black;
      .placeholder-icon {
        margin-right: 5px;
        color: black;
      }
    }

    .range{
      border: 0px;
      padding: 0px;
      input {
        margin: 0px;
        height: 35px;
      }

    }
    .range-text{
      margin-top: 15px;
      color: darkgrey;
      font-size: 1.2em;
      .value {
        color: black;
      }
    }
  }
}

.dateModal {
  ion-content {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    .pickadate-header {
      position: relative;
      width:  70%;
      margin-left:  auto;
      margin-right:  auto;
    }
    .pickadate-head {
      text-transform: uppercase;
      background: #ffffff !important;
      border: none !important;
      font-size: 1.2em;
    }
    .pickadate-cell {
      font-size: 1em;
      li {
        font-size: 1.6em;
        border: none;
        margin: 3px 0px;
      }
      .pickadate-active {
        background: $positive;
      }
    }
    i {
      margin-top: 5px;
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
      text-transform: capitalize;
    }
    .text-indic {
      text-align: center;
      font-size: 1.2em;
      color: #666666;
    }
    .submit {
      width: calc(100% - 20px);
      margin-left: 10px;
      border-radius: 5px;
      text-transform: uppercase;
      margin-top: 25px;
    }
  }
  ion-header-bar {
    background-color: #f8f8f8;
    .buttons {
      .button {
        font-size: 1em;
      }
      .button.active, .button.activated {
        border-color: #f8f8f8;
        background-color: #eeeeee; }
    }
    .title {
      margin: 0;
      font-size: 1.2em !important;
      text-align: center !important;

    }
  }
  .button.button-full {
    margin-top: 25px;
  }

}

// mixins called in _hm-media-queries.scss
@mixin media-search--phones-prtrt() {
}
@mixin media-search--phones-lndscp() {
}
