.hm-rateHm {
  h1 {
    font-family: hm-extra-light;
    font-size: px2rem(30px);
    text-align: center;
  }
  div[hm-el="hm-visibility-help"] {
    position: absolute;
    bottom: $hm-button-footer-height;
    left: 20%;
    right: 0;
    margin-left: auto !important;
    margin-right: auto;
    width: 80%;
    padding-bottom: .3rem;
    p {
      padding: 0 0 0 0;
      margin-left: .2rem;
      text-align: center;
      line-height: 1;
      font-family: hm-light;
    }
    margin-left: 1rem;
    img {
      margin-top: .5rem;
      width: 44px;
      height: 41px;
      transform:          rotate(180deg);
      -ms-transform:      rotate(180deg);
      -moz-transform:     rotate(180deg);
      -webkit-transform:  rotate(180deg);
      -o-transform:       rotate(180deg);
    }
}
}

.hm-aboutHm {
  background: white;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  h1 {
    font-size: px2rem(22px);
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    font-size: px2rem(13px);
    margin-bottom: 30px;
  }
  div[hm-el="hm-elm"] {
    display: flex;
    img {
      height: 25px;
    }
    p {
      margin-left: 25px;
      margin-bottom: 10px;

    }
  }
}

.hm-permission-warning {
  background: white;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  h1 {
    font-size: px2rem(29px);
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    font-size: px2rem(17px);
    margin-bottom: 30px;
  }
}

.hm-choose-media {
  background: rgba(0, 0, 0, 0.5);
  ion-content {
    padding: 2em;
    padding-top: 45vh;
    div[hm-el="hm-block"] {
      background: white;
      border-radius: 12px;
      div {
        height: 8vh;
        font-family: hm-medium;
        font-size: px2rem(17px);
        text-align: center;
        padding-top: 3vh;
      }
      div.button-bar {
        height: auto;
      }
      .button {
        white-space: normal;
        line-height: 1.2em;
        font-family: hm-light;
        font-size: px2rem(16px);
        color: black;
        padding: 0.5em;
        background: white;
        border-top: 2px solid #EEEEEE;
        height: px2rem(55px);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 0;
        &:last-child {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 12px;
        }
        &:first-child {
          border-right: 2px solid #EEEEEE;
        }
      }
    }
  }
  .button-full {
    margin-top: 1.1rem;
    border-radius: 12px;
  }
}


.hm-crop-img {
  .bar {
    background: white !important;
  }
  h1 {
    color: white;
    top: 8em;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: px2rem(17px);
    line-height: 2em;
  }
  ion-content {
    background: black;
  }
  .bar {
    background: white
  }
}

.hm-good-modal {
  padding: 2em;
}

.hm-geo-modal {
  .bar {
    .button-clear.button-clear {
      color: #aaaaaa;
    }
  }
}

div[hm-el="input-container"] {
  width: 85%;
}

.modal-backdrop {
  img {
    height: 0;
  }
  &.active img {
    height: unset;
  }
}
.succesForm {
  background: white;
  padding: 0 2em;
  h1 {
    font-size: px2rem(34px);
    font-family: hm-semibold;
    color: $hm-grey-74;
  }
  h3 {
    font-size: px2rem(18px);
    font-family: hm-light;
    color: $hm-grey-74;
  }

  a {
    text-align: center;
    position: absolute;
    top: 50vh;
    width: 100%;
    font-size: px2rem(17px);
    text-decoration: underline;
  }
  hm-logo-bar {
    img {
      height: initial;
    }
  }

}
// mixins called in _hm-media-queries.scss
@mixin media-modal--phones-prtrt() {
}
@mixin media-modal--phones-lndscp() {

}
.hm-verificationCode {
  background: #FFFFFF;
  .hm-input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    width: 50%;
    height: 3em;
    padding: 0;
    input[type="text"] {
      text-align: center;
      @include font-size(3);
    }
  }
  h2 {
    text-align: center;
    @include font-size(2);
    color: red;
  }
}

.hm-menu-popup {
  ion-content {
    @include flex-box(column,center);
  };
  background-color : $hm-grey-74-transp;
  .button {
    background-color : $hm-white;
  };
  div[hm-el="popup"] {
    width : 75%;
    margin: auto;
  }
  div[hm-el="title"] {
    @include flex-box(column,center);
    text-align : center;
    background-color : $hm-white;
    border-radius : 1rem 1rem 0 0;
    height : 5rem;
  };
  div[hm-el="main-panel"] {
    @include flex-box(column,center);
    a:first-child {
      border-radius : 0 0 0 1rem;
    };
    a:last-child {
      border-radius : 0 0 1rem 0;
    };
    a {
      @include flex-box(column,center);
      padding : 0 0;
    };
    span {
      line-height : 1rem;
    };
  };
  div[hm-el="secondary-panel"] {
    margin-top : 4rem;
    display : block;
    .button {
      width : 100%;
      border-radius : 1rem;
    };
  };
}

.hm-confirm {
  .popup {
    border-radius : 1rem;
    background-color : $hm-white;
    .popup-head {
      display : none;
    };
    .popup-body {
      text-align : center;
    };
    button {
      background-color : $hm-white;
      color : $hm-green;
    }
  };
}
