/**
  HouseMatch documents styles
  i.e. CGU, policy ...
*/

.hm-document {
  margin: 80px 20px 0px 20px;
}

.hm-document-bar {
  background: #aaaaaa;
  height: 70px;
}

// mixins called in _hm-media-queries.scss
@mixin media-documents--phones-prtrt() {
}
@mixin media-documents--phones-lndscp() {
}
