/**
 * Housematch global style elements
 * @author Renaud Tripathi <ganeshrd@laposte.net>
 */


// @debug 'hm-shared.scss :';

/**
 * Housematch font-family and font-size genral setup
 * @see hm-fonts.scss for font details
 */

// html {
//   font-size: px2rem(12px);
// }

:root {
  // font-size: calc(14px + 30 * ((100vw - 320px) / 680)); //root font-size is 14px on iphone 5, 18px on iphone 6+
  font-size: root-font-size-function();
  //iPhone X
  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      font-size: 17px;
    }
}

html * {
  font-family : "hm-regular";
}


/**
 * Generic class definition
 */



 h1, h2, h4, h5, h6, .h1, .h2, .h4, .h5, .h6 {
  color: $hm-grey-74;
  white-space: pre-wrap;
 }

h1.solo-center {
  margin: 0;
  font-size: px2rem(34px);
}
h1.smaller-20 {
  font-size: px2rem(20px) !important;
}

 h2, .h2 {
  font-size: px2rem(29px)
 }

 h3, .h3 {
  color: black;
  font-family: hm-bold;
  font-size: px2rem(24px);
 }

.underline {
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
.bold {
  font-family: hm-bold;
  font-size: inherit;  
  color: inherit;
}
.semibold {
  font-family: hm-semibold;
  font-size: inherit;  
  color: inherit;
}

/*defines the height of the header bar as well as the top property of ion-content*/
.has-header, .has-hm-logo-bar {
  top: $hm-logo-bar-height;
}

/**
 * Housematch root container which define
 * a margin top and a padding for data display
 * This class is used in register states (tel and name)
 */

/*hm buttons*/
.button.button-hm {
  border-color: transparent;
  background-color: #F2F2F2; /*#30A75D;*/
  color: #444; 
  &:hover {
    color: #fff;
    text-decoration: none; 
  }
  &.active, &.activated {
    border-color: #a2a2a2;
    background-color: #979797; 
  }
  &.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #979797; 
  }
  &.button-icon {
    border-color: transparent;
    background: none; 
  }
  &.button-outline {
    border-color: #979797;
    background: transparent;
    color: #979797; 
  }
  &.button-outline.active, &.button-outline.activated {
    background-color: #979797;
    box-shadow: none;
    color: #444; 
  }
}


/*hm toggles*/

.toggle.toggle-hm input + .track {
  border-color: $grey;
  background-color: $grey;
}
.toggle-small .toggle-hm input:checked + .track {
  background-color: $grey-transp;
}
.toggle-small .toggle-hm input + .track .handle {
  background-color: $grey;
}
.toggle.toggle-hm input:checked + .track {
  border-color: $hm-blue-toggle;
  background-color: $hm-blue-toggle;
}
.toggle-small .toggle-hm input:checked + .track {
  background-color: $hm-blue-toggle-transp;
}
.toggle-small .toggle-hm input:checked + .track .handle {
  background-color: $hm-blue-toggle;
}



.hm-container {
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  width: 100%;
  padding: 0 px2rem(20px);
}
.hm-container.up-5 {
  top:45%;
}
.hm-container-full-width {  
  @extend .hm-container;
  padding: 0;
}
.hm-container-for-slides {  //leave more space at the bottom for the pager dots
  @extend .hm-container-full-width;
  transform: translate(0, -58%);
}

/**
 * Housematch header bar with logo.
 * Which shows a centered housematch logo with side navigation items optionally.
 * Used in tutorial, register and exit states
 */
.hm-logo-bar {
    background-image : url('../img/svg/logo.svg')!important;
    background-size : 5em 5em;
    background-position : center center;
    background-repeat : no-repeat;
    div {
      background-color : transparent!important;
    };
}

/**
 * Top navigation bar.
 * this class is used within the directive hm-header-bar
 * which is used in most of the client states.
 */
.bar-header.hm-cmd-bar {
  background: none!important;
  border-bottom-width: 0!important;
  border-style : none!important;
  .title {
    display : none!important;
  };
  div.button {
    background-color : transparent!important;
  };
}
.bar-subheader.hm-title-bar {
  background: none!important;
  // background-image: none!important;
  // background-size: auto !important;
  // background-position: 0% 0% !important;
  .title {
    font-family : hm-extra-bold;
    font-size: px2rem(37px);
    text-align : left!important;
  };
}

/**
 * The bottom navigation bar
 */
.bar-footer {
  padding-bottom: px2rem(2px);
}
.bar .title {
  font-size: px2rem(16px);
}
.hm-nav-bar {
  @include flex-box(column,center);
  div[hm-el="nav-container"] {
    width: 100%;
    @include flex-box(row,space-around);
    .nav-div {
      text-align: center;
      img {
        height: px2rem(17px);
      }
      img.menu-higher-icon {
        // height: px2rem(20px);
      }
      .menu-name {
        display: block;
        font-size: px2rem(9px);
        color: $hm-grey-74;
        text-transform: uppercase;
      }
    }
  };
  
}



.padding-none {
  padding: 0px !important;
}

// mixins called in _hm-media-queries.scss
@mixin media-globals--phones-prtrt() {
}
@mixin media-globals--phones-lndscp() {
}
