/**
 * Constants, mixin and function definition
 *
 * This file define all helpers related to  sizing and justifying
 * @author Renaud Tripathi <ganeshrd@laposte.net>
 */

/**
 * Housematch color definitions
 */
$grey : #CCCCCC;
$grey-transp : rgba(204,204,204, 0.5);
$grey-light : #EEEEEE;
$hm-white: #FFFFFF;
$hm-green: #30A75D;
// #753a02
$hm-red: #E94157;
$hm-light: #C7C7C7;
$hm-grey: #F2F2F2;
$hm-grey-74: #4A4A4A;
$hm-grey-74-transp: rgba(74,74,74,0.5);
$hm-dark-grey: #979797;
$hm-yellow: #F8E71C;
$hm-dark: #303030;
$hm-error: #FFB6C1;
$hm-blue-link: #488FE9;
$hm-green-link: #02753A;
$hm-blue-toggle: #1890E9;
$hm-blue-toggle-transp: rgba(24,144,233, 0.5);

/**
 * Housematch font weights
 */
$hm-font-normal: 400;
$hm-font-bold: 700;
$hm-font-light: 200;
/**
 * scaling definitions
 * 'unit' is used to assign the 'line-height' property
 * 'scale' is used to determine 'the font-size' property from the 'font-scale' function
 * @see https://juliocesar.github.io/styling-with-sass/sizing-things.html
 * @see https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 */

// smallest size object
$display: (
  font-size : 10px,
  unit : 11px * 1.2,
  scale : 1.3
);

/*defintions of the height of the top and bottom bars*/
$hm-logo-bar-height: 67px;
$hm-button-footer-height: 65px;

/*definition of the base root font-size for a 320-px-wide screen*/
$base-root-size-for-320-screen: 14px;

/*
 * calculate base root size
 */
@function root-font-size-function() {
  $viewport-width: "100vw";
  $size-on-width:  calc( 14px + 20 * ((#{$viewport-width}  - 320px) / 680) );
  $viewport-height: "100vh";
  $size-on-height: calc( 14px + 15 * ((#{$viewport-height} - 568px) / 1200) );
  //max(calc( 14px + 30 * ((100vw  - 320px) / 680)), calc( 14px + 15 * ((100vh  - 568px) / 1200)))
  @debug '$size-on-height :';
  @debug $size-on-height;

  @return $size-on-width;
  //@return max($size-on-width, $size-on-height);
}

/*
 * calculate px to rem for 14px base root size
 */
@function px2rem($px) { 
  $remSize: $px / $base-root-size-for-320-screen;
  @return #{$remSize}rem;
};


/*
  * utility function from sassmeister
  * compute $x to the power of $y
*/
@function pow($x, $y) {
   $ret: 1;

   @if $y > 0 { @for $i from 1 through $y { $ret: $ret * $x; } }

   @else { @for $i from $y to 0 { $ret: $ret / $x; } }

  @return $ret;

}
/*
 * compute the 'font-size' property given an arbitrary factor, which is 0, 1, 2, 3 ...
 */
@function font-scale($x) {
  $scale : map-get($display,'scale');
  $base-font-size : map-get($display,'font-size');

  @return round($base-font-size * pow($scale,$x));
};

/*
 * defines a unit
 */
@function units($x) { @return map-get($display,'unit') * $x; };

/*
 * a column equal 4 units
 * UNUSED TILL NOW
 */
@function column($x) { @return units(4) * $x; };

/*
 * a row is a unit height
 * return the height of $x rows
 */
@function row($x) { @return map-get($display,'unit') * $x; };

/*
 * compute the font-size and line-height according to units
 * usage :
 * h1 {
 *      font-size: px2rem(22px);
 *    }
 * when $units is 0 'font-size' = $display.font-size
 */
@mixin font-context($units) {
  $unit : map-get($display,'unit');
  $lh : $unit;
  $font-size : font-scale($units);

  // unit value ('line-height') must be wider than the font-scale (computed font-size)
  @while $lh < $font-size {
    $lh : $lh + $unit;
  }

  // output
  font-size : $font-size;
  line-height : $lh;
};

/*
 * compute the font-size according to units
 * usage :
 * h1 {
 *      font-size: px2rem(22px);
 *    }
 * when $units is 0 'font-size' = $display.font-size
 * for now, if $units is 0, then 'font-size' = 12px
 * for now, if $units is 1, then 'font-size' = 13px
 * for now, if $units is 2, then 'font-size' = 17px
 * for now, if $units is 3, then 'font-size' = 22px
 * for now, if $units is 4, then 'font-size' = 29px
 * for now, if $units is 5, then 'font-size' = 37px
 * Use REM !!! 
 */
@mixin font-size($units) {
  $value : font-scale($units);

  // output
  font-size : $value;
};

/*
 * compute the 'line-height' property according to units
 * usage :
 * h1 {
 *      @include line-height(3);
 *    }
 */
@mixin line-height($units) {
  $unit : map-get($display,'unit');
  $lh : $unit;
  $font-size : font-scale($units);

  // unit value ('line-height') must be wider than the font-scale (computed font-size)
  @while $lh < $font-size {
    $lh : $lh + $unit;
  }

  // output
  line-height : $lh;
};

/*
 * Compute the 'line-height' property in order to
 * center verticaly any text according to the height
 * of the container in 'row' unit
 */
@mixin center-text($rows) {
  $height : row($rows);

  line-height : $height;
};

/*
 * flex-box container sugar
 */
@mixin flex-box($direction,$justify) {
  display : flex;
  flex-direction : $direction;
  justify-content : $justify;
};














// mixins called in _hm-media-queries.scss
@mixin media-defs--phones-prtrt() {
}
@mixin media-defs--phones-lndscp() {
}
