<hm-logo-bar 
  right-cb="ctrl.step = 1" right-icon="(ctrl.step == 2 || ctrl.step == 3)? 'img/back-icon.png' : ''" 
  left-cb="gotToNews()"
  left-name="'Annuler'">
</hm-logo-bar>

<ion-content scroll="false" class="user-form has-header has-hm-button-footer">
  
  <div class="hm-container">
    
    <div class="hm-form">
      <form novalidate  name="ctrl.user_form">

        <div ng-show="ctrl.step == 1">
          <!--hm-for ng-model="add.for" ng-click="refresh()" ng-if="!ctrl.form_for"></hm-for-->
          <hm-title title="ctrl.title" sub-title="ctrl.subTitle"></hm-title>
          <hm-renting-bar ng-model="add.renting" name="renting"></hm-renting-bar>
          <br/>
          <hm-intent-bar ng-model="add.intent" name="intent"></hm-intent-bar>
        </div>

        <div ng-show="ctrl.step == 2">
          <hm-title title="ctrl.title" sub-title="ctrl.subTitle"></hm-title>
          <hm-geo ng-model="add.geo" name="geo"></hm-geo>
          <hm-goods-bar ng-model="add.goods" name="goods"></hm-goods-bar>
          
          <!-- LESSOR TARGET FORM -->
          <div ng-if="ctrl.form_for=='lessor'" class="hm-form-row">
            <ionic-multi-date-picker input-obj="datepickerObject" class="hm-from">
              <button class="button icon ion-calendar icon-left button-hm">
                {{ (selectedDates.length == 0) ? 
                  "Dates" : 
                  ( periodIndeterminee ? 
                  ( "À partir du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear()  ) :
                  "Du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear() + " au " + selectedDates[1].getDate() + "." + ((selectedDates[1].getMonth() + 1)| number:0) + "." + selectedDates[1].getFullYear() ) 
                }}
              </button>
            </ionic-multi-date-picker>
            <!-- <hm-period ng-model="add.period" name="period"></hm-period> -->
          </div>
          <hm-range-charge ng-model="add.charge" name="range_charge" ng-if="ctrl.form_for=='lessor'"></hm-range-charge>

          <!-- TENANT TARGET FORM -->
          <div ng-if="ctrl.form_for=='tenant'" class="hm-form-row">
            <br/>
            <ionic-multi-date-picker input-obj="datepickerObject" class="hm-from">
              <button class="button icon ion-calendar icon-left button-hm">
                {{ (selectedDates.length == 0) ? 
                  "Dates" : 
                  ( periodIndeterminee ? 
                  ( "À partir du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear()  ) :
                  "Du " + selectedDates[0].getDate() + "." + ((selectedDates[0].getMonth() + 1)| number:0) + "." + selectedDates[0].getFullYear() + " au " + selectedDates[1].getDate() + "." + ((selectedDates[1].getMonth() + 1)| number:0) + "." + selectedDates[1].getFullYear() ) 
                }}
              </button>
            </ionic-multi-date-picker>
            <hm-fix-charge ng-model="add.charge" name="fix_charge"></hm-fix-charge>
          </div>
        </div>

        <div ng-show="ctrl.step == 3">
          <h1>{{ 'menu.6' | translate}}</h1>
          <p>
            {{ 'directive.renting.13' | translate}}
          </p>
          <hm-description ng-model="add.description" name="description"></hm-description>
          <br/>
          <hm-images ng-model="add.images" name="images"></hm-images>
        </div>

      </form>

    </div>

  </div>

</ion-content>
<!-- SUBMIT -->
<button ng-if="false" class="button button-block button-positive text-uppercase" type="submit" ng-disabled="validation.btn_disabled">
  {{ 'btn_publish' | translate }}
</button>
<hm-button-footer title="ctrl.step == ctrl.stepCount ? 'PUBLIER' : 'btn_next'" sub-title="ctrl.step + ' sur ' + ctrl.stepCount" ng-click="ctrl.next()"></hm-button-footer>
