<ion-view title={{::title}}>

  <ion-content class="has-header">
    <div class="list list-inset">
      <label class="item item-input search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher" ng-model="search">
      </label>
    </div>
    <!--ion-scroll >
    </ion-scroll-->
    <div>{{ mailbox | json }}</div>
  </ion-content>

</ion-view>

