<ion-view class="hm-profile">

  <div class="bar bar-header"  hm-el="hm-header" ui-sref="nav.profile_edit">
  <span>{{ 'profile.1' | translate }}</span>
  </div>
  <div class="bar bar-subheader hm-title-bar" hm-el="hm-subheader">
    <span class="title">{{ 'profile.0' | translate }}</span>
  </div>

  <ion-content>

    <div class="hm-profile-card">
      <div hm-el="avatar"><img ng-src="{{ctrl.profile.avatar}}"></div>
      <div hm-el="full-name"><span>{{ctrl.full_name}}</span></div>
      <div ng-if="ctrl.is_user_info || true" hm-el="user-info">
        <span>{{ctrl.puser_info}}</span>
      </div>
      <div hm-el="indicator">
        {{ 'profile.3' | translate }} <br/> {{ 'profile.4' | translate }} <br/> {{ 'profile.5' | translate }}
      </div>
      <p ng-if="ctrl.is_user_bio">{{ 'profile.6' | translate }} <br> {{ ctrl.profile.bio }} </p>
    </div>

  </ion-content>

</ion-view>
