<ion-view class="hm-profile-edit">
  <div class="bar bar-header"  hm-el="hm-header">
    <span ng-click="ctrl.editProfile()">{{ 'btn_save' | translate }}</span>
    <span ui-sref="nav.profile">{{ 'btn_cancel' | translate }}</span>
  </div>
  <div class="bar bar-subheader hm-title-bar" hm-el="hm-subheader">
    <span class="title">{{ 'profile.0' | translate }}</span>
  </div>
  
  <ion-content class="has-header">

    <!-- <div class="hm-header-bar">
      <div hm-el="nav">
        <span hm-el="right" ui-sref="nav.profile_edit">{{ 'btn_save' | translate }}</span>
      </div>
      <div hm-el="title">
        <span>{{ 'profile.0' | translate }} </span>
      </div>
    </div> -->
    <div hm-el="avatar">
      <img ng-src="{{ctrl.profile.avatar}}">
      <button class="button icon custom-pencel" ng-click="ctrl.set_avatar()">
        <img ng-src="img/svg/editPencel.svg">
      </button>
    </div>
    <div class="list" hm-el="profile-form">
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Prénom" ng-model="ctrl.profile.surname">
        <span class="input-label">{{ 'register.name.2' | translate }} {{ctrl.profile}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Nom" ng-model="ctrl.profile.name">
        <span class="input-label">{{ 'register.name.3' | translate }}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Ajouter un mail" ng-model="ctrl.profile.email">
        <span class="input-label">{{ 'profile.7' | translate }}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="number" placeholder="30" ng-model="ctrl.profile.age">
        <span class="input-label">{{ 'profile.8' | translate }}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Ajouter une activité" ng-model="ctrl.profile.activity">
        <span class="input-label">{{ 'profile.9' | translate }}</span>
      </label>
      <label class="item item-input item-stacked-label special">
        <span class="input-label">{{ 'profile.6' | translate }}&nbsp;:</span>
        <textarea ng-maxlength="300"  placeholder="{{ctrl.bioPlaceholder}}" name="text" ng-model="ctrl.profile.bio">
        </textarea>
      </label>
    </div>
    <hm-scroll cb="ctrl.gotoBottom()"></hm-scroll>
  </ion-content>

</ion-view>
