<ion-content  scroll="false" class="hm-aboutHm">
  <hm-logo-bar></hm-logo-bar>
    <h1>{{ 'modal.about.0' | translate }}</h1>
    <p> {{ 'modal.about.1' | translate }} </p>
    <div hm-el="hm-elm">
      <img src="img/tutorial/approved.png">
      <p>{{ 'modal.about.2' | translate }}</p>
    </div>
    <div hm-el="hm-elm">
      <img src="img/tutorial/approved.png">
      <p>{{ 'modal.about.3' | translate }}</p>
    </div>
    <div hm-el="hm-elm">
      <img src="img/tutorial/refused.png">
      <p>{{ 'modal.about.4' | translate }}</p>
    </div>
    <div hm-el="hm-elm">
      <img src="img/tutorial/refused.png">
      <p>{{ 'modal.about.5' | translate }}</p>
    </div>
    <h1>{{ 'modal.about.6' | translate }}</h1>
    <hm-button-footer title="'btn_agreed' | translate" ng-click="modal.hide()"></hm-button-footer>
</ion-content>
