<ion-modal-view class="hm-menu-popup">

 <ion-content>
   <div hm-el="popup">

     <div hm-el="main-panel">
       <div hm-el="title"><h4>{{'modals/edit/title' | translate}}</h4></div>
       <div class="button-bar">
         <!--a class="button" ng-click="edit(add)"><span>Modifier mon annonce</span></a-->
         <a class="button" ng-click="edit(add)"><span>Modifier mon</span><span>annonce</span></a>
         <a class="button" ng-click="delete(add)"><span>Supprimer mon</span><span>annonce</span></a>
       </div>
     </div> <!-- /main-panel -->

     <div hm-el="secondary-panel">
       <a class="button" ng-click="cancel()">Annuler</a>
     </div>

   </div> <!-- /popup-->
 </ion-content>

</ion-modal-view>
