<!--
  This the template for the avatar edition menu modal
-->

<ion-modal-view class="hm-choose-media">
  <ion-content>
    <div hm-el="hm-block">
      <div>Que voulez-vous faire ?</div>
      <div class="button-bar">
        <a class="button" ng-click="snapshot()">Prendre une photo</a>
        <a class="button" ng-click="galery()">Choisir dans la galerie</a>
      </div>
    </div>
    <button class="button button-full" ng-click="cancel()">
      Annuler
    </button>
  </ion-content>
</ion-modal-view>
