<!--
  This the template for the avatar edition menu modal
-->

<ion-modal-view class="hm-crop-img">
  <div class="bar bar-header"  hm-el="hm-header">
    <span ng-click="save(myCroppedImage)">Enregistrer</span>
    <span ng-click="cancel()">Annuler</span>
  </div>
  <div class="bar bar-subheader" hm-el="hm-subheader">
    Mon compte
  </div>
  <ion-content>
    <h1>Placez votre visage au centre du cercle. <br/> Zoomez ou réduisez au besoin.</h1>
    <div class="cropArea">
    <img-crop image="image" area-type="circle" chargement="'Loading'" result-image="myCroppedImage.value" canvas-scalemode="true"></img-crop>
    </div>
  </ion-content>
</ion-modal-view>
