<div class="modal dateModal">
  <ion-header-bar>
    <div class="buttons">
      <button class="button" ng-click="datepicker_ctrl.cancel()">
        Annuler
      </button>
    </div>
    <div class="title title-center">Selectionner une date</div>
    <div class="buttons">
      <button class="button" ng-click="datepicker_ctrl.reset()">
        Effacer
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div pickadate="" ng-model="datepicker_ctrl.date_from_calendar" min-date="minDate" week-starts-on="1"></div>
    <button class="button button-full button-positive s" ng-click="datepicker_ctrl.save()">CHOISIR CETTE DATE</button>
  </ion-content>
</div>
