<!--
  Geo edition modal template
-->
<ion-modal-view class="hm-geo-modal">

  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="{{ 'directive.geo.1' | translate }}" id="autocomplete" ng-model="geo_ctrl.autocomplete.input" ng-change="geo_ctrl.updateSearchResults()">
    </label>
    <button class="button button-clear">
      Annule
    </button>
  </div>

  <ion-content>
    <ul class="list">
        <li class="item" ng-repeat="item in geo_ctrl.autocompleteItems" ng-click="geo_ctrl.chooseAdresse(item)">
          {{ item.description }}
        </li>
    </ul>


    <button class="button button-block button-positive" ng-click="save()">
      {{ 'btn_validate' | translate }}
    </button>

  </ion-content>

</ion-modal-view>
