<!--
  Template for the goods edition menu modal
-->
<ion-modal-view>
  <ion-header-bar>
    <ion-title>{{ goods_ctrl.title }}</ion-title>
  </ion-header-bar>
  <ion-content class="hm-good-modal">

    <hm-goods-bar goods="goods_ctrl.goods_from_ctrl"></hm-goods-bar>

    <div> {{ 'directive.goods.1' | translate }}
      <span> {{ 'txt_no' | translate }} </span>
      <label class="toggle">
      <input type="checkbox" ng-model="goods_ctrl.furnitures_from_ctrl" ng-false-value="false"
                                                                        ng-true-value="true">
      <div class="track">
        <div class="handle"></div>
      </div>
      </label>
      <span> {{ 'txt_yes' | translate }} </span>
    </div>
    <button class="button button-block button-positive" ng-click="goods_ctrl.save()">
      {{ 'btn_validate' | translate }}
    </button>
  </ion-content>

</ion-modal-view>
