<!--
  This the template for lessor form input : goods
-->

<ion-modal-view>

  <ion-content> 
    <span> Type de logenment:</span>
    <select ng-model="form.goods">
      <option value="1">studio</option>
      <option value="2">2 pièces</option>
      <option value="3">3 pièces</option>
      <option value="4+">4 pièces et plus</option>
    </select>
    
    <button ion-button ng-click="set_goods()">valider</button>
  </ion-content>

</ion-modal-view>
