<!--
  This the template for lessor form input : address
-->

<ion-modal-view>

  <ion-content> 
    <span> Adresse</span>
    <input type="text" ng-model="form.address" placeholder="Ex: 55, rue du Faubourg Saint-Honoré">
    <button ion-button ng-click="set_address()">valider</button>
  </ion-content>

</ion-modal-view>
