<!--
  Period edition modal template
  Shows a switch for furation type and a carousel for duration.
-->
<ion-modal-view>
  <ion-header-bar>
    <ion-title>{{ period_ctrl.title }}</ion-title>
  </ion-header-bar>
  <ion-content>

  <div class="hm-for">
    <div> <span>{{ 'directive.period.1' | translate }}</span> </div>
    <div hm-el="choice">
      <span hm-el="text">{{ 'directive.period.2' | translate }}</span>
    </div>
    <div class="">
      <label class="toggle">
        <input type="checkbox" ng-model="period_ctrl.type_from_ctrl" ng-false-value="'week'" ng-true-value="'month'">
          <div class="track">
            <div class="handle"></div>
          </div>
      </label>
    </div>
    <div hm-el="choice">
      <span hm-el="text">{{ 'directive.period.3' | translate }}<span>
    </div>
  </div>


    <button class="button button-block button-positive" ng-click="period_ctrl.save()">
      {{ 'btn_validate' | translate }}
    </button>

  </ion-content>

</ion-modal-view>
