<ion-content  scroll="false" class="hm-permission-warning">
    <hm-logo-bar></hm-logo-bar>
    <h1>: ( <br/> Désolé</h1>
    <p>
      HouseMatch ne peut pas fonctionner sans l’accès à vos contacts.
    </p>
    <p>
      HouseMatch ne revend pas vos données, n’envoie rien et ne publie rien sans votre accord.
    </p>
    <p>
      Bonnes recherches !
    </p>
    <hm-button-footer title="'J’AI CHANGÉ D’AVIS'" ng-click="redirectSettings()"></hm-button-footer>
</ion-content>
