<!--
  This the template for the avatar edition menu modal
-->

<ion-modal-view>

  <ion-content> 
    <button ion-button ng-click="snapshot()">Prender une photo</button>
    <button ion-button ng-click="galery()">Choisir dans la galerie</button>
    <button ion-button ng-click="cancel()">Annuler</button>
  </ion-content>

</ion-modal-view>
