<ion-modal-view>
  <hm-logo-bar left-cb="modal.hide()" left-name="'Passer'">
  </hm-logo-bar>

  <ion-content  scroll="false" class="hm-rateHm">

    <div class="hm-container"> 
      <h1>{{ 'rate.0' | translate }}</h1>
    </div>

    <div hm-el="hm-visibility-help">
      <img src="img/lines.png"/>
      <p>
        Vers la page Évaluer l'application<br>Apple Store/Google Play
      </p>
    </div>


    <hm-button-footer title="'btn_rate' | translate" ng-click="modal.hide()"></hm-button-footer>

  </ion-content>
</ion-modal-view>