<ion-content scroll="false" class="succesForm">
	<hm-logo-bar></hm-logo-bar>
	<div class="hm-container">
		<h1>{{ 'success.0' | translate }}</h1>
		<h3>{{ 'success.1' | translate }}</h3>
		<a ng-click="gotToMyAdds(modal)">{{ 'success.2' | translate }}</a>
	</div>
</ion-content>
<hm-button-footer title="'success.3' | translate" ng-click="gotToNews(modal)"></hm-button-footer>
