<ion-content class="hm-verificationCode">
      <div class="item item-input hm-input number">
        <input type="text" ng-model="code" ng-change="confirmVerificationCode(code)" autofocus>
      </div>
      <h2 hm-el="label" ng-if="errorVerificationCode">code erroné</h2>
</ion-content>
