<!--
  Formulaire d'édition des annonces
-->

<ion-view title="{{::title }}">

  <ion-content>

  <div class="hm-form" ng-switch="add.for">

    <form novalidate ng-submit="ctrl.update()" name="ctrl.update_form">

      <hm-user-intent intent="add.intent"></hm-user-intent>
      <hm-renting-bar ng-model="add.renting" name="renting"></hm-renting-bar>
      <hm-geo ng-model="add.geo" name="geo"></hm-geo>
      <hm-goods ng-model="add.goods" name="goods"></hm-goods>

      <!-- TENANT TARGET FORM -->
      <hm-datepicker ng-model="add.from" name="date" ng-switch-when="tenant"></hm-datepicker>
      <div ng-switch-when="tenant" class="hm-form-row">
        <hm-fix-charge ng-model="add.charge" name="fix_charge"></hm-fix-charge>
        <hm-period ng-model="add.period" name="period"></hm-period>
      </div>

      <!-- LESSOR TARGET FORM -->
      <div ng-switch-when="lessor" class="hm-form-row">
        <hm-datepicker ng-model="add.from" name="date"></hm-datepicker>
        <hm-period ng-model="add.period" name="period"></hm-period>
      </div>
      <hm-range-charge ng-model="add.charge" name="range_charge" ng-switch-when="lessor"></hm-range-charge>
      <hm-description ng-model="add.description" name="description" ng-switch-when="tenant"></hm-description>
      <hm-images ng-model="add.images" name="images" ng-switch-when="tenant"></hm-images>
      
      <button class="button button-block button-positive text-uppercase" type="submit">
        {{ "btn_publish" | translate }}
      </button>

    </form>

  </div>
  <!-- <div> {{ add | json }} </div> -->
  </ion-content>

</ion-view>
