<ion-view>

  <div class="bar bar-header hm-cmd-bar">
    <!--div class="button">btn-left</div-->
    <h1 class="title"></h1>
    <!--div class="button">btn-right</div-->
  </div>
  <div class="bar bar-subheader hm-title-bar">
    <span class="title">{{ 'adds/title' | translate }}</span>
  </div>

  <ion-content class="has-subheader">

    <div class="list">
      
      <user-add-item add="add" ng-repeat="add in adds" ng-click="select(add)"></user-add-item>

    </div>

  </ion-content>

</ion-view>

