<!--
  app crash state
-->
<hm-logo-bar>
</hm-logo-bar>
<ion-content class="has-subheader has-hm-button-footer">

  <div class="hm-exit">

    <div type="item">
      <img src="img/icons/sad.svg"/>
    </div>

    <div type="item">
      <span> {{ 'exit.system_failure.0' | translate }} </span>
    </div>

    <div type="text">
      <span> {{ 'exit.system_failure.1' | translate }} </span>
      <br>
      <br>
      <span> {{ 'exit.system_failure.2' | translate }} </span>
      <br>
      <br>
      <span> {{ 'exit.system_failure.3' | translate }} </span>
    </div>

  </div>

</ion-content>
<hm-button-footer title="'btn_agreed'" ng-click="exit()"></hm-button-footer>
