<!--
  user exit state
-->


  <ion-content>

  <div class="hm-exit">

    <div class="hm-logo-bar">
      <img src="img/icons/logo-green.svg" hm-el="item-center"/>
    </div>

    <div type="item">
      <img src="img/icons/sad.svg"/>
    </div>

    <div type="item">
      <span> {{ 'exit.user_failure.0' | translate }} </span>
    </div>

    <div type="text">
      <span> {{ 'exit.user_failure.1' | translate }} </span>
      <br>
      <br>
      <span> {{ 'exit.user_failure.2' | translate }} </span>
      <br>
      <br>
      <span> {{ 'exit.user_failure.3' | translate }} </span>
    </div>

    <div type="item">
      <button class="button button-positive" ng-click="exit()">
        <span>{{ 'btn_agreed' | translate }}</span>
      </button>
    </div>

  </div>

  </ion-content>

  <ion-footer-bar align-title="center">
    <div ui-sref="register.tel">
      <span class="title hm-link">{{ 'exit.user_failure.4' | translate }}</span> 
    </div>
  </ion-footer-bar>
  
