<!-- 
  add-item component 
  Représentation d'une annonce dans les listes de résultat.
-->
<img ng-if="$ctrl.data.for == 'tenant'" src="img/Offre.png"/>
<img ng-if="$ctrl.data.for == 'lessor'" src="img/Demande.png"/>
<p am-time-ago="$ctrl.data.timestamp | amFromUnix"></p>
<h2>{{$ctrl.data.surname}}
  <b ng-if="$ctrl.data.for == 'tenant'"> Offre</b>
  <b ng-if="$ctrl.data.for == 'lessor'"> demande</b>
  1 logement
</h2>
<div class="row" no-padding>
  <img class="network-circle" ng-src="{{'img/' + $ctrl.data.distance + 'ecercle.png'}}"}}/>
  <p>{{ $ctrl.data.distance }}e cercle </p>
</div>
  <search-type types="$ctrl.data.types" read-only="true"></search-type>
<div class="row detail-annonce">
  <div class="col-45">
    <div class="row">
      <img  src="img/Calendar-noir.png"/>
      <p>{{ $ctrl.data.from | amDateFormat:'DD MMMM YYYY HH:mm:ss'}} </p>
    </div>
    <div class="row">
      <img src="img/Localisation-noir.png"/>
      <p> {{ $ctrl.data.geo.address }} </p>
    </div>
  </div>
  <div class="col-10 separate"></div>
  <div class="col-45">
    <div class="row">
      <img  src="img/euro.png"/>
      <p>{{$ctrl.data.charge}} euro</p>
    </div>
    <div class="row">
      <img  src="img/Dure-noir.png"/>
      <p>{{$ctrl.data.period}}  mois </p>
    </div>
  </div>
</div>
<hr/>
