<!--
  Template de l'encart publicitaire pour les annonceurs
-->

<div class="hm-addvert">
  <div hm-el="header">  
    <div hm-el="header-left">
      <img ng-src="img/svg/advert.svg">
    </div>
    <div hm-el="header-right">
      <span hm-el="header">{{'component.addvert.0' | translate}}</span>
      <span hm-el="subheader">{{'component.addvert.1' | translate}}</span>
    </div>
  </div>
  <div hm-el="body">  
    <div hm-el="body-left">
    </div>
    <div hm-el="body-right">
      <span hm-el="intro">{{'component.addvert.2' | translate}}</span>
      <span hm-el="message">{{'component.addvert.3' | translate}}</span>
      <span hm-el="contact">{{'component.addvert.4' | translate}}<a href='#'>{{'component.addvert.4.1' | translate}}</a></span>
    </div>
  </div>
</div>
