<div class="bar bar-footer bar-balanced" ng-class="{'disabled' : $ctrl.disabled}">
  <div class="title" hm-el="bar-title" ng-class="{'sub-title' : $ctrl.subTitle }">{{$ctrl.title | translate }}</div>
  <div hm-el="bar-sub-title">{{$ctrl.subTitle | translate }}</div>
</div>
