<div class="row header">
  <div class="col col-25 text-center left" ng-click="ctrl.rightCb()">
    <a class="button button-clear hm-black" ng-if="ctrl.rightName">
      {{ ctrl.rightName | hm_translation }}
    </a>
    <img ng-src="{{ctrl.rightIcon}}" ng-if="ctrl.rightIcon">
  </div>
  <div class="col col-50 text-center">
    <img ng-src="img/svg/Logo.svg" width="43"/>
  </div>
  <div class="col col-25 text-center cancel">
    <a class="button button-clear hm-black" ng-click="ctrl.leftCb()">
      {{ ctrl.leftName | hm_translation }}
    </a>
  </div>
</div>
