<!--
  Affiche un élément du menu
-->
<li>

<div class="hm-menu-item" menu-close ui-sref="{{$ctrl.item.state}}">

  <div hm-el="left"> <div><img ng-src="img/svg/{{$ctrl.item.icon}}.svg"></img></div> </div>

  <div hm-el="middle">
    <span>{{::$ctrl.item.topic}}</span>
    <span ng-if="$ctrl.item.hasOwnProperty('sub_topic')"><span class="menu-small">{{::$ctrl.item.sub_topic}}</span></span>
  </div>

  <div hm-el="right"> <img ng-src="img/svg/right.svg"></img> </div>

</div>

</li>
