<div class="button-bar hm-renting-bar margin-top-lg">

  <!-- tous -->
  <a class="button first" ng-class="{'activate' : $ctrl.isAllSelected()}" ng-click="$ctrl.selectAllType()">
    <div class="text">Tous</div>
  </a>

  <!-- location -->
  <a class="button middle" ng-class="{'activate' : $ctrl.types[2] && !$ctrl.isAllSelected()}" ng-click="$ctrl.selectType(2)"> 
    <div class="txt text-second" ng-class="{'selct' : $ctrl.isAllSelected()}">Location</div>
  </a>

  <!-- sous location -->
  <a class="button middle" ng-class="{'activate' : $ctrl.types[3] && !$ctrl.isAllSelected()}" ng-click="$ctrl.selectType(3)"> 
    <div class="txt text-middle" ng-class="{'selct' : $ctrl.isAllSelected()}">Sous <br> location</div>
  </a>

  <!-- colocation -->
  <a class="button third" ng-class="{'activate' : $ctrl.types[5] && !$ctrl.isAllSelected()}" ng-click="$ctrl.selectType(5)">
    <div class="txt text" ng-class="{'selct' : $ctrl.isAllSelected()}">Colocation</div>
  </a>

</div>
