<!--
  Représentation d'une annonce de l'utilisateur dans la liste d'édition
-->

<div class="hm-add-item">

  <div class="hm-add-item-left">
    <span hm-el="address">{{::$ctrl.add.geo.address}}</span>
    <br>
    <span hm-el="charge">{{::$ctrl.add.charge}}</span><img ng-src="img/svg/euro-grey.svg"></img>
    <br>
    <span hm-el="add-type">{{::$ctrl.add_type()}}</span> -
    <span hm-el="renting">{{::$ctrl.renting_type()}}</span>
    <br>
    <span hm-el="from" ng-if="$ctrl.add.period.timeframe">{{::'from-period' | translate }}
                                                          {{::$ctrl.add.period.from | amFromUnix | amDateFormat:'DD MM YYYY'}}
                                                          {{::'to' | translate }}
                                                          {{::$ctrl.add.period.to | amFromUnix | amDateFormat:'DD MM YYYY'}}
    </span>
    <span hm-el="from" ng-if="!$ctrl.add.period.timeframe">{{::'from' | translate }}
                                                           {{::$ctrl.add.period.from | amFromUnix | amDateFormat:'DD MM YYYY'}}
    </span>
  </div>

  <!--div class="hm-add-item-right" ui-sref="form_edit({form_for : {{$ctrl.add.for}}, add : $ctrl.add })"><img src="img/icons/setup.svg"></img></div-->
  <div class="hm-add-item-right"><img src="img/icons/setup.svg"></img></div>

</div>
