<hm-logo-bar 
right-cb="ctrl.back()" right-icon="'img/back-icon.png'" 
left-cb="ctrl.skip()" left-name="'Passer'"
></hm-logo-bar>
<ion-content  scroll="false" class="hm-register-number">
  <div class="hm-container">
    <h2>Autorisez-vous HouseMatch à demander un numéro d’enregistrement en ligne ? :</h2>
    <h4>Il est obtenu gratuitement auprès de la Mairie de votre ville. Vous pouvez aussi accomplir ces démarches vous-même.</h4>
    <div class="button-bar">
      <a class="button" ng-click="ctrl.accept = true; ctrl.btn_disabled = false" ng-class="{ selected: ctrl.accept == true }">OUI</a>
      <a class="button" ng-click="ctrl.accept = false; ctrl.btn_disabled = false" ng-class="{ selected: ctrl.accept == false }">NON</a>
    </div>
    <div hm-el="center">
      <a ui-sref="register-number-submit({'id_add':id_add})">J’en ai déjà un !</a>
      <br/>
      <a ui-sref="nav.news">Plus tard</a>
    </div>
  </div>
</ion-content>
<hm-button-footer title="'VALIDER'" disabled="btn_disabled" ng-click="ctrl.validate()"></hm-button-footer>
