<hm-logo-bar right-cb="ctrl.back()" right-icon="'img/back-icon.png'"></hm-logo-bar>
<ion-content  scroll="false" class="hm-register-form submit">

  <div class="hm-container">
    
    <h2>{{'register-number.submit.0' | translate}}</h2>
    <h4>{{'register-number.submit.1' | translate}}</h4>

    <div class="item item-input hm-input-center number">
      <input type="number" ng-model="ctrl.registerNumber" required>
    </div>
    <h6 hm-el="label-center">{{ 'register-number.submit.0' | translate }}</h6>

    <div hm-el="center" ui-sref="register-number-infos">
      <a>{{'register-number.submit.2' | translate}}</a>
      <br/>
      <a>{{'register-number.submit.3' | translate}}</a>
    </div>

  </div>

</ion-content>
<hm-button-footer title="'suivant'" disabled="!ctrl.registerNumber"  ng-click="ctrl.submitRegisterNumber()"></hm-button-footer>
