<hm-logo-bar right-cb="ctrl.back()" right-icon="'img/back-icon.png'"></hm-logo-bar>
<ion-content  scroll="false" class="hm-register-number infos">
  
  <div class="hm-container">
    <h1 class="smaller">Pour continuer à utiliser HouseMatch, vous devez nous communiquer un numéro d’enregistrement en ligne.</h1>
    <div>
      <h4>OÙ L’OBTENIR ?</h4>
      <div class="row">
        <div class="col col-10">
          <img src="img/tutorial/approved.png">
        </div>
        <div class="col col-90">
          Vous pouvez l’obtenir auprès du service logement de votre Mairie. C’est gratuit.
        </div>
      </div>
      <h4>ENTRE-TEMPS…</h4>
      <div class="row">
        <div class="col col-10">
          <img src="img/tutorial/approved.png">
        </div>
        <div class="col col-90">
          Votre annonce sera suspendue dans 48h. Vous risqueriez une amende de 10 000 à 50 000€.
        </div>
      </div>
    </div>
  </div>
</ion-content>
<hm-button-footer title="'JE REVIENS VITE !'" ui-sref="nav.news"></hm-button-footer>

