<hm-logo-bar right-cb="ctrl.back()" right-icon="'img/back-icon.png'"></hm-logo-bar>
<ion-content  scroll="false" class="hm-register-form">

  <div class="hm-container">

    <h2>Informations requises :</h2>
    <h4>Pour obtenir gratuitement un numéro d’enregistrement en ligne, vous avons besoin des informations suivantes…</h4>
    
    <div ng-if="ctrl.step == 1">
      <!-- surname -->
      <div class="item item-input hm-input">
        <input type="text" ng-model="ctrl.bindings.surname" required>
      </div>
      <h6 hm-el="label">{{ 'register-number.name.2' | translate }}</h6>
      <!-- name -->
      <div class="item item-input hm-input">
        <input type="text" ng-model="ctrl.bindings.name" required>
      </div>
      <h6 hm-el="label">{{ 'register-number.name.3' | translate }}</h6>
      <!-- email -->
      <div class="item item-input hm-input">
        <input class="adresse" type="email" ng-model="ctrl.bindings.email" required>
      </div>
      <h6 hm-el="label">{{ 'profile.7' | translate }}</h6>
    </div>
    
    <div ng-if="ctrl.step == 2">
      <!-- surname -->
      <div class="item item-input hm-input">
        <input class="adresse" type="text" ng-model="ctrl.bindings.address" required>
      </div>
      <h6 hm-el="label">{{ 'register-number.form.0' | translate }}</h6>
      <!-- name -->
      <div class="item item-input hm-input">
        <input type="text" ng-model="ctrl.bindings.city" required>
      </div>
      <h6 hm-el="label">{{ 'register-number.form.1' | translate }}</h6>
      <!-- email -->
      <div class="row padding-none">
        <div class="col col-50 padding-none">
          <div class="item item-input hm-input number">
            <input type="text" ng-model="ctrl.bindings.code" required>
          </div>
          <h6 hm-el="label">{{ 'register-number.form.2' | translate }}</h6>
        </div>
      </div>
    </div>
    
    <div ng-if="ctrl.step == 3">
      <div class="row">
        <div class="col col-50">
          <div class="item item-input hm-input-center number">
            <input type="number" ng-model="ctrl.bindings.floor" required>
          </div>
          <h6 hm-el="label-center">{{ 'ETAGE' | translate }}</h6>
        </div>
        <div class="col col-50">
          <div class="item item-input hm-input-center number">
            <input type="number" ng-model="ctrl.bindings.rooms" required>
          </div>
          <h6 hm-el="label-center">{{ 'nombre de pièces' | translate }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="item item-input hm-input-center number">
            <input type="number" ng-model="ctrl.bindings.beds" required>
          </div>
          <h6 hm-el="label-center">{{ 'nombre de lits' | translate }}</h6>
        </div>
      </div>
    </div>

  </div>

</ion-content>
<hm-button-footer title="ctrl.step == 1 ? 'btn_next' : 'TERMINÉ'" disabled="!ctrl.canDoNext()" sub-title="ctrl.step + ' sur 3'" ng-click="ctrl.next()"></hm-button-footer>
