<hm-logo-bar 
  right-cb="ctrl.step = 3" right-icon="ctrl.step == 4 ? 'img/back-icon.png' : ''" 
  left-cb="ctrl.skip()" left-name="'Passer'"
  ></hm-logo-bar>

<ion-content  scroll="false" class="hm-register-number">



  <div ng-if="ctrl.step == 1">  
    <div class="hm-container">
      <h1 class="with-bottom-text">Pour que votre offre soit conforme avec les lois logement, nous sommes dans l’<span>obligation légale</span> de vous poser certaines questions…</h1>
      <h3>CELA NE PREND QUE QUELQUES SECONDES…</h3>
    </div>
    <hm-button-footer title="'OK'" ng-click="ctrl.accept()"></hm-button-footer>
  </div>

  <div ng-if="ctrl.step == 2" hm-el="addList">
    <div class="hm-container">
      <h2>Merci de sélectionner une des annonces :</h2>
      <h4>Uniquement pour les offres non-validées…</h4>
      <div class="row" hm-el="add" ng-repeat="add in ctrl.user_adds" ng-click="ctrl.choose(add)">
        <div class="col col-75">
          <span class="ad-address">{{add.geo.address}}</span>
          <br/>
          <span class="ad-price">{{add.charge}} € </span>
          <br/> 
          <span class="ad-offre">offre -</span>
          <span class="ad-type" ng-if="add.renting % 2 == 0">{{ 'directive.renting.0' | translate }}</span>
          <span class="ad-type" ng-if="add.renting % 3 == 0"> {{ 'directive.renting.1' | translate }} {{ 'directive.renting.1.1' | translate }}</span>
          <span class="ad-type" ng-if="add.renting % 5 == 0">{{ 'directive.renting.2' | translate }}</span>
          <br/>
          <span class="ad-period">A partir du {{add.period.from | amDateFormat:'DD MMMM'}}</span>
        </div>
        <div class="col col-25">
          <img src="img/checkbox-empty.png" ng-if="!add.treated && !add.selected"/>
          <img src="img/checkbox-checked.png" ng-if="!add.treated && add.selected"/>
          <img src="img/checkbox-validated.png" ng-if="add.treated"/>
        </div>
      </div>
    </div>
    <hm-button-footer title="'VALIDER'" disabled="ctrl.btn_disabled" ng-click="ctrl.validate()"></hm-button-footer>
  </div>

  <div ng-if="ctrl.step == 3">
    <div class="hm-container">
      <h2>S’agit-il de votre résidence principale ?</h2>
      <h4>La résidence principale est le logement où vous résidez habituellement.</h4>
      <div class="button-bar">
        <a class="button" ng-click="ctrl.isPrincipalResidence = true" ng-class="{ selected: ctrl.isPrincipalResidence == true }">OUI</a>
        <a class="button" ng-click="ctrl.isPrincipalResidence = false" ng-class="{ selected: ctrl.isPrincipalResidence == false }">NON</a>
      </div>
    </div>
    <hm-button-footer title="'SUIVANT'" disabled="ctrl.isPrincipalResidence != true && ctrl.isPrincipalResidence != false"  ng-click="ctrl.next()"></hm-button-footer>
  </div>

  <div ng-if="ctrl.step == 4">
    <div class="hm-container">
      <h2>Habitez-vous Paris, Lyon, Bordeaux ou Nice ?</h2>
      <div class="button-bar">
        <a class="button" ng-click="ctrl.isBigCity = true" ng-class="{ selected: ctrl.isBigCity == true }">OUI</a>
        <a class="button" ng-click="ctrl.isBigCity = false" ng-class="{ selected: ctrl.isBigCity == false }">NON</a>
      </div>
    </div>
    <hm-button-footer title="'SUIVANT'" disabled="ctrl.isBigCity != true && ctrl.isBigCity != false" ng-click="ctrl.submit()"></hm-button-footer>
  </div>

</ion-content>