<hm-logo-bar></hm-logo-bar>
<ion-content  scroll="false" class="hm-register-number success">
	<div class="hm-container">
		<h1 class="solo-center">{{'register-number.form.3' | translate}}</h1>
	</div>
</ion-content>
<hm-button-footer title="'OK'" ui-sref="nav.news"></hm-button-footer>
