/**
 * Définition des styles pour l'affichage du
 * profile de l'utilisateur.
 * i.e. de son profile.
 */
 @debug '_hm-profile.mod.scss';

 div[hm-el="hm-header"]  {
    background: transparent !important;
    border-bottom-width: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
    flex-direction: row-reverse;
    span {
       @include font-size(1.5);
    }
 }

 div[hm-el="hm-subheader"]  {
   background: transparent !important;
   border-bottom-width: 0px;
   font-size: px2rem(37px);
   font-family: hm-bold;
   margin-top: .3em;
 }

.hm-profile {
  background-image: url('../img/background-profile.png');
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  div.hm-profile-card {
    font-size: px2rem(13px);
    background: white;
    height: calc(100vh - 44px - 12em);
    margin-top: 14em;
    padding-top: 0.5em;
    div {
      margin : 1em;
    }

    div[hm-el="avatar"] {
      margin : auto;
      width: 100%;
      position: absolute;
      top: -6em;
      img {
        display: block;
        height: 12em;
        width: 12em;
        margin: auto;
        border: 0.5rem solid white;
        border-radius: 50%;
      };
    };

    hr {
      width: 40%;
      border: 1px solid #ccc;
    };

    div[hm-el="indicator"] {
      padding: 0.5em;
      background: #F5F3F3;
      text-align: center;
      @include font-size(1.5);
      line-height: 0.8em;
      margin: 0;
    }

    p {
      padding: 1em;
      font-size: px2rem(13px);
    }

    button {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 0px;
      background: white;
      img {
        width: 100%;
      }
    }

    div[hm-el="user-info"] > span {
      margin-top: 8em;
      font-size: px2rem(17px);
      font-family : hm-light;
    };

    div[hm-el="full-name"]{
      margin-top: 8em;
      span {
        font-size: px2rem(22px);
        font-family: hm-bold;
     };
    }


    div[hm-el="profile-text"] {
      font-size: px2rem(22px);
      margin-left: 7px;
      font-family: 'Helvetica Neue';
      font-family: hm-light;
    }

    div[hm-el="profile-tip"] {
      margin : 0;
      background-color : $hm-light;
      span {
        display : block;
        text-align : center;
        font-size: px2rem(13px);
        line-height : row(1);
      }
    }
  }

}





.hm-profile-edit {
  div[hm-el="hm-subheader"] {
    border-bottom: 1px solid #979797;
  }
  ion-content {
    margin-top: 2.5rem;
  }
  h1 {
    font-size: px2rem(22px);
    text-align: center;
    margin-top: 1rem;
  }
  div[hm-el="avatar"] {
    margin : auto;
    width: px2rem(110px);
    position: relative;
    img {
      display : block;
      height: px2rem(110px);
      width: px2rem(110px);
      margin : auto;
      border-radius : 50%;
    };
    button {
      position: absolute;
      right: -1rem;
      top: 5rem;
      padding: 0px;
      background: transparent;
      img {
        width: px2rem(28px);
        height: px2rem(28px);
      }
    }
  };

  div[hm-el="profile-form"] {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    .item {
      border-color: white;
    }
    input[type="text"], input[type="number"] {
      background: white;
      border-bottom: 1px solid #ccc;
      border-radius: 0px;
      // font-family: hm-bold;
      padding: 0;
      height: auto;
      font-size: px2rem(30px);
      font-family: hm-regular;
      color: black;
      line-height: 1;
    }
    .item-input {
      padding-left: 0px;
      .input-label {
        font-size: px2rem(12px);
        color: $hm-grey-74;
        text-transform: uppercase;
      }
      &.special .input-label {
        font-family: hm-bold;
        font-size: px2rem(18px);
        text-transform: none;
      }
    }
    // label {
    //   label {
    //     padding-left: 0px;
    //     border-bottom: 1px solid #ccc;
    //     border-bottom-color: #ccc !important;
    //     label {
    //       font-size: px2rem(17px);
    //     }
    //     img {
    //       width: 25px;
    //       height: 25px;
    //       margin-right: 10px;
    //     }
    //   }
    // }
  }
  textarea {
    margin-top: 1em;
    background-color: #F5F3F3;
    padding: .5em;
    &::placeholder {
      font-family: hm-regular;
      font-size: px2rem(14px);
      color: $hm-grey-74;
    }
  }
}

div[hm-el="scroll"] {
  position: sticky;
  bottom: 1vh;
  width: 100%;
  height: 4em;
  z-index: 5;
  .button {
    position: absolute;
    right: 0em;
    background: transparent;
    // padding-right: 0;
  }
}

.hm-crop-img {
  .bar {
    background: white !important;
  }
  h1 {
    color: white;
    top: 10em;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: px2rem(17px);
    line-height: 2em;
  }
  ion-content {
    background: black;
  }
  .bar {
    background: white
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-profile-mod--phones-prtrt() {
}
@mixin media-profile-mod--phones-lndscp() {
}
