/**
 Housematch style for tutorial part
*/
.init-content{
  margin-top: 80px;
}






@debug '_hm-init.mod.scss';

.button-navigate {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  .next {
    float: right;
  }
  .skip {
    color: white;
    text-decoration: underline;
  }
}

.point-slider{
  width: 12px;
  height: 12px;
  margin: 10px 8px 0px 8px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.welcome3{
  background-image: url('../img/welcome3.png') !important;
  background-size: 100% 100%;
  .container-text {
    flex: 1;
    justify-content: center;
  }
}

.welcome4{
  background-image: url('../img/welcome4.png') !important;
  background-size: 100% 100%;
}

.welcomeFinal {
  .logo {
    margin: 25px;
    img{
      width: 80px;
      height: 80px;
    }
  }
  .title {
    font-size: 1.4em;
  }
}

.content{
  height: calc(100vh - 220px);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  img {
    height: 100%;
    width: 100%;
  }
}
.footer {
  height: 200px;
  padding: 0 20%;
  button {
    height: 45px;
    text-transform: uppercase;
  }
  .slide{
    width: 12px;
    height: 12px;
    margin: 10px 8px 0px 8px;
    background: $grey;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.close-modal{
  float: right;
}

.userModal {
  .list{
    margin-top: 55px;
  }
  .icon {
    color: $positive;
  }
}

.init {
  text-align: center;
  vertical-align: middle;
  margin-top: calc(50vh - 40px);
  background-image: url("img/logo.png");
}

// mixins called in _hm-media-queries.scss
@mixin media-init-mod--phones-prtrt() {
}
@mixin media-init-mod--phones-lndscp() {
}
