/**
* Définition des styles pour detail de
* l'annonce de l'utilisateur.
*/

$left-padding-add-detail: px2rem(13px);

a[hm-el="back-button"] {
  position: absolute;
  top: 2.5em;
  left: 1em;
  z-index: 2;
}

.hm-detail-add {

  color: $hm-grey-74;
  .hm-renting {
    width: calc(100% - 2em);
    margin-left: 1em;
    // height: 40px;
    margin-top: 0;
  }

  div[hm-el="avatar"] {
    background: #f6f3f3;
    text-align: center;
    padding-top: px2rem(65px);
    padding-bottom: px2rem(50px);
    img {
      height: px2rem(100px);
    }
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  div[hm-el="detail-form"] {
    height: 37%;
  }

  h1 {
    font-size: px2rem(18px);
    font-family: hm-semibold;
    width: 80%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  h2 {
    font-size: px2rem(24px);
    font-family: hm-bold;
    color: black;
    margin-bottom: 0;
  }

  div[hm-el="detail-title"] {
    padding-left: $left-padding-add-detail;
    img[hm-el="more"] {
      position: absolute;
      padding-top: 1em;
      right: 2em;
    }

  }
  div.row {
    padding-left: $left-padding-add-detail;
    padding-bottom: 0;
    .col:first-child {
      padding-left: 0;
    }
    .col-10 {
      text-align: center;
    }
  }
  div[hm-el="detail-header"] {
    line-height: 1em;
    h1 {
      font-size: px2rem(22px);
      margin-bottom: 0.2em;
    }
    h4 {
      font-family: hm-light;
      font-size: px2rem(12px);
      color: black;
      margin: 0;
      padding: 0;
    }
    span {
      font-size: px2rem(22px);
    }
  }
  div[hm-el="zone-recherche"] {
    font-family: hm-light;
    font-size: px2rem(12px);
    color: black;
    margin: 0;
    padding: 0;
  }
  div[hm-el="geo-address"] {
    font-family: hm-regular;
    font-size: px2rem(16px);
    color: black;
    padding: 0;
  }
  .prix {
    font-family: hm-semibold;
    font-size: px2rem(16px);
    color: black;
  }
  div[hm-el="detail-text-title"] {
    font-size: px2rem(16px);
    &.resquest {
      font-family: hm-bold;
    }
    &.col {
      margin-left: 0em;
    }
  }
  .dates-meuble {
    font-family: hm-light;
    font-size: px2rem(14px);
    color: black;
  }
  p {
    font-size: px2rem(16px);
    font-family: hm-light;
    // color: black;
    // margin-left: .5em;
  }
  div.texte-right{
    text-align: right;
    margin-left: -1px;
  }

  div[hm-el="hm-network"] {
    span {
      // position: relative;
      // bottom: .2em;
      font-size: px2rem(16px);
      font-family: hm-medium;
      color: black;
    }
    img {
      height: px2rem(22px);
      vertical-align: middle;
    }
  }

  .grey-line {
    height: 10px;
    margin-left: px2rem(10px);
    margin-right: px2rem(10px);
    border-bottom: 2px solid $hm-grey;
  }
  div.hm-detail-card {
    background: #F5F3F3;
    border-radius: 4px;
    padding: .3rem $left-padding-add-detail .3rem $left-padding-add-detail;
    // margin-bottom: 1rem;
    div.hm-detail-card-texte{
      font-family: hm-light;
      font-size: px2rem(14px);
      line-height: 1rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
    }
    div.hm-detail-card-texte-bold{
      font-family: hm-medium;
      font-size: px2rem(16px);
      color: black;
      line-height: 1rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
      .smallgrey {
        font-family: hm-extra-light;
        font-size: px2rem(12px);
        color: black;
      }
    }
  }
  div.hm-detail-bolt {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    border-radius: 4px;
    .row{
      padding: 0px;
      width: 97%;
    }
  }
  .bar-footer {
    height: $hm-button-footer-height;
    background: #f6f3f3;
    div[hm-el="detail-title-button"] {
      margin-top: auto;
      margin-bottom: auto;
      height: auto;
      line-height: 1;
      font-family: hm-medium;
      font-size: px2rem(18px);
      padding-left: 1rem;
    }
    .row .button {
      height: 40px;
      position: absolute;
      top: 50%;
      right: px2rem(9px);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: flex;
      justify-content:center;
      align-content:center;
      flex-direction:column;
      line-height: 1;
      font-family: hm-semibold;
      font-size: px2rem(14px);
      color: white;
      margin-left: 0;
      vertical-align:middle;
    }
  }

  .swiper-pagination-bullet {
    opacity: 1;
    background: white;
  }
  .swiper-pagination-bullet-active {
    background: $balanced;
  }
  img[hm-el="detail-cover"] {
    height: 40vh;
    width: 100%
  }
  div[hm-el="detail-text-bold"] {
    font-family: hm-bold;
    font-size: px2rem(17px);
  }


}

// mixins called in _hm-media-queries.scss
@mixin media-detail-mod--phones-prtrt() {
}
@mixin media-detail-mod--phones-lndscp() {
}
