/**
 * Définition des styles propres aux états de sortie
 */

@debug '_hm-exit.mod.scss';

 .hm-exit {
   @include flex-box(column,space-around);


   div[type="item"] {
     @include flex-box(row,center);
     margin-top : 4.5em;

     img {
       width : px2rem(41px);
       height : px2rem(41px);
     };

     span {
       font-size: px2rem(37px);
       font-family : hm-bold;

     };
     
     button {
       width : 50%;
       span {
         font-size: px2rem(22px);
       };
     };

  };

  div[type="text"] {
    * { font-family: 'hm-extra-light';}
    margin-top : 4.5em;
    padding-left : 2em;
    padding-right : 2em;

    button span {
      font-size: px2rem(17px);
    };

    span {
      font-size: px2rem(22px);
      margin-top : 2em;
    }
  };

 }

// mixins called in _hm-media-queries.scss
@mixin media-exit-mod--phones-prtrt() {
}
@mixin media-exit-mod--phones-lndscp() {
}
