/**
 * Housematch style for user network
 * @deprecated fixed value
 */

@debug '_hm-news.mod.scss';

div[hm-el="floating-icon"] {
  position : fixed;
  bottom : 10%;
  right : 1em;
  z-index : 10;
}

.hm-no-news {
  padding : 1.5em;
  div[hm-el="sad"] {
    width : 100%;
    text-align : center;
    maring-top: 1rem;
  };
  div[hm-el="comment"] {
    font-family : hm-light;
    font-size: px2rem(18px);
    color: $hm-grey-74;
    margin-top : 2em;
  };
  div[hm-el="message"] {
    font-size: px2rem(34px);
    font-family: hm-semibold;
    color: $hm-grey-74;
    @include line-height(2);
    margin-top : 1em;
  };
  div[hm-el="tip"] {
    font-size: px2rem(17px);
  };
};

/**
 * @deprecated fixed value
 */
.platform-ios {
  .news .search input {
    padding-top: 8px;
  }
  .bar {
    padding-top: 2px !important;
  }
}

label.search {
  margin-top: .5rem;
  padding: 0;
  margin-right: 1rem;
  margin-left:  1rem;
  font-size: px2rem(38px);
  img.custom-placeholder-icon {
    width: 23px;
    position: absolute;
    left: 10px;
  }
  input[type="text"] {
    height: 45px;
    border-radius: 8px;
    padding-left: 39px;
    &::placeholder {
      font-size: px2rem(18px);
      font-family: hm-medium;
      // color: pink;
    }
  }
  &.item-input .icon {
    // min-width: 2rem;
  }
  
  // ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  //   color: pink;
  // }
  // ::-moz-placeholder { /* Firefox 19+ */
  //   color: pink;
  // }
  // :-ms-input-placeholder { /* IE 10+ */
  //   color: pink;
  // }
  // :-moz-placeholder { /* Firefox 18- */
  //   color: pink;
  // }
}


.hm-news-mod .list {
  margin-top: .3rem;
  &:before {
    content : "";
    position: absolute;
    left: 15px;
    right: 0;
    top: 0;
    // margin-left: auto;
    // margin-right: auto;
    height: 1px;
    width: calc(100% - 15px);
    border-top: solid 1px $hm-dark-grey;
  }
}


/**
 * main map specifications
 */
 #main_map {
   height : 100%;
   width : 100%;
   div.hm-map-legend {
     width : 78%;
     margin : auto;
     margin-top : 1em;
     background-color : $hm-grey;
     border-radius : 3em;
     box-shadow : 0.5em 1em 1em $hm-dark-grey;
     padding : .5rem 1rem .5rem 1rem;
     @include flex-box(row,space-between);
     div {
       width : 50%;
       padding-left : .5rem;
       padding-right : .5rem;
       white-space : nowrap;
       font-size: px2rem(16px);
       @include line-height(4);
       img {
         width : 18px;
         vertical-align : text-bottom;
       };
     };
     div:first-child {
       border-right : 1px solid $hm-light;
     };
   };
   
   // hack over leaflet control container 
   .leaflet-right {
     float : none;
     right : auto;
     width : 100%;
     //transform : translate(50%,0%);
   }
   .leaflet-control {
     float : none;
   }

   // popup customization
   div.leaflet-popup-tip {
     display : none !important;
   };
   // popup style
   div[hm-el="header"] {
     padding : 1em;
     border-bottom : 1px solid $hm-light;
   };
   div[hm-el="body"] {
     @include flex-box(row,space-between);
     & > div {
       @include flex-box(column,center);
     };
   };
 }

// mixins called in _hm-media-queries.scss
@mixin media-news-mod--phones-prtrt() {
}
@mixin media-news-mod--phones-lndscp() {
}
