/**
 HouseMatch style for user inputs in registration states
 */

@debug '_hm-register.mod.scss';

.hm-dial-code{
  margin-top : 2rem;
  select {
    height: row(2);
    font-size : 1.2em;
    background: transparent;
    border: none;
    border-bottom: 1px solid darkgrey;
  }

}

.hm-input {
  margin-top : 1rem;
  border: none;
  border-bottom: 1px solid $hm-dark-grey;
  input[type="text"] {
    background : transparent;
  };
}
.hm-input-center {
  @extend .hm-input;
  text-align: center;
}



div[hm-el="hm-error-msg"] {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  img {
    width: 3em;
    height: 3em;
    margin-right: 1em;
  }
  p {
    font-size: px2rem(18px);
  }
}

// the sub label for the input number control
*[hm-el="label"] {
  margin-top : 0.5em;
  text-transform: uppercase;
}
*[hm-el="label-center"] {
  @extend *[hm-el="label"];
  text-align: center;
}
*.hm-input-center input {
  text-align: center;
}

.condition {
  font-size: px2rem(10px);
  line-height: 1.3;
  // margin-top: 1rem;
  a {
    color : $hm-blue-link;
  }
}

/**
 * error styles
 */
.error {
  @include flex-box(row,flex-start);
  .message-error {
    @include flex-box(column,center);
  };
}

.non-valid {
  font-size: px2rem(17px);
};

div[hm-el="icon"] {
  @include flex-box(column,center);
}

.resource-locked {
  @include flex-box(column,center);
  span {
    font-size: px2rem(17px);
  };
  .hm-link {
    font-family: hm-regular;
    font-size: px2rem(15px);
    // width : 33%;
    div {
      display: inline;
    };
    div:first-child {
      // border-bottom : 1px solid;
      border-color : $hm-green-link;
    };
    div a {
      color : $hm-green-link
    };
  };
};

div[hm-el="btn"] {
  margin-top : 5em;
}

/**
 * @deprecated
 */
.permissionRefusedModal{
  text-align: center;
  ion-content {
    margin: 100px 35px 10px 35px;
  }
  p {
    text-align: left;
    margin-top: 25px;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .footer {
    margin-top: 30px;
    .cancel {
      background: transparent;
      text-decoration: underline;
      color: $positive;
      text-transform: none;
      font-size: 1.2em;
    }
  }
}
/**
 * @deprecated
 * fixed value
 */
.icon-error {
  margin: 5px;
}
/**
 * @deprecated
 * fixed value
 */
.message-error {
  font-size: 1.2em;
  margin-left: 12px;
  a {
    color: black;
    text-decoration: underline;
    line-height: 2em;
  }
}
/**
 * @deprecated
 * not a hm constant
 */
.lighter {
  font-family: hm-light;
}
/**
 * @deprecated
 * not a hm constant
 */
.hm-test {
  font-family: hm-light;
}

.register-comment, .register-tel {
  h1 {
    font-family: hm-extra-light;
    // font-size: px2rem(37px);
    font-size: px2rem(34px);
    color: $hm-grey-74;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: hm-extra-light;
    white-space: pre-wrap;
  }
  color: $hm-grey-74;
  %hm-sub-header {
   font-size: px2rem(14px);
    line-height: 1.3;
    margin-bottom: .8rem;
    text-align: justify;
  }
  .hm-sub-header-1 {
    @extend %hm-sub-header;
    font-family: hm-light;
  }
  .hm-sub-header-2 {
    @extend %hm-sub-header;
    font-family: hm-extra-light;
  }
  .item:not(.hm-input) {
    font-family: hm-light;
    font-size: px2rem(14px);
    border: none;
    white-space: normal;
    padding-top: px2rem(9px);
    padding-bottom: 0;
    padding-left: px2rem(30px);
    padding-right: px2rem(7px);
    line-height: 1.3;

    .icon {
      left: 0;
    }
  }
  .bottom-big-text {
    font-family: hm-extra-light;
    font-size: px2rem(34px);
    text-align: center;
    margin: 2rem 0 1.5rem 0;
  }
  .hm-green-arrow:before {
    background-image: url('/img/svg/green-arrow.svg');
    background-size: 20px 21px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
  }
  .hm-red-cross:before {
    @extend .hm-green-arrow:before;
    background-image: url('/img/svg/red-cross.svg');
  }
}
.register-tel, .register-name {
  .item-input {
    padding-left: 5px;
    padding-bottom: 0;

  }
  .hm-input {
    padding-left: 0;
    margin-top: 1rem;
  }
  input[type="text"], input[type="number"] {
    font-size: px2rem(18px);
    padding-bottom: 0;
    padding-left: 0;
    height: 30px;
    color: $hm-grey-74;
  }
}

.register-add {
  h3.smaller-h3 {
    font-size: px2rem(19px);
  }
}

hm-button-footer {
  &.register-name {
    .bar-footer {
      bottom: $hm-button-footer-height;
    }
  }

}

div [hm-el="facebook-login"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3B5999;
  text-transform: uppercase;
  color: white;
  height: $hm-button-footer-height;
  bottom: 0em;
  position: absolute;
  width: 100%;
  left: 0px;
  img {
    height: 2rem;
    width: 2rem;
  }
  div {
    font-size: px2rem(16px);
    padding-left: 1em;
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-register-mod--phones-prtrt() {
}
@mixin media-register-mod--phones-lndscp() {
}

#sign-in-button {
  div {
    margin-left: auto;
    margin-right: auto;
  }
}
.hidden div {
  display: none;
}
