.hm-tutorial {
  text-align: center;
  h1 {
    font-family: hm-extra-light;
    // font-size: px2rem(37px);
    font-size: px2rem(34px);
    color: $hm-grey-74;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 200;
    white-space: pre-wrap;
  }
  .row-fixedwidth {
    font-family: hm-extra-light;
    width: 85%;
    color: $hm-grey-74;
    margin-left: auto;
    margin-right: auto;
    font-size: px2rem(12px);
    white-space: pre-wrap;
    line-height: 1rem;
  }
  div[hm-el="slide1"] {
    img {
      margin-top: 1.5rem;
    }
  }
  div[hm-el="slide3"] {
    h1 {
      // margin-top: 5%;
      margin-bottom: 1.5rem;
    }
    h3 {
      margin-top: .3rem;
      // margin-bottom: 5%;
    }
    .row-fixedwidth {
      font-size: px2rem(18px);
      line-height: 1.2rem;
    }
  }
  div[hm-el="slide4"] {
    h1 {
      // margin-top: 3%;
      // margin-bottom: 5%;
    }
    h3 {
      // margin-top: 2%;
      // margin-bottom: 5%;
    }
  }

  div[hm-el="text-infos"] {
    font-family: hm-regular;
    font-size: px2rem(12px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1rem;
    line-height: 1.3;
    text-align: left;
    a {      
      font-size: px2rem(12px);
      color: $hm-green-link;
      text-decoration: underline;
      display: inline-block;
      padding-top: .7rem;
    }
  }

  img {
    width: 65%;
  }
  h3 {
    font-family: hm-extra-light;
    font-size: px2rem(20px);
    margin-top: 1.5rem;
    margin-left: px2rem(20px);
    margin-right: px2rem(20px);
    margin-bottom: 0;
    white-space: pre-wrap;
  }
  .swiper-pagination {
    bottom: px2rem(20px);
  }
  .swiper-pagination-bullet {
    background: $balanced;
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-tutorial-mod--phones-prtrt() {
}
@mixin media-tutorial-mod--phones-lndscp() {
}
