/**
 * Housematch forms styling
 * @author Renaud Tripathi <ganeshrd@laposte.net>
 * @deprecated too many class name, bad file location declarations
 * @todo move directives where they belong
 */

/**
 * USER FORM GLOBALS
 */

@debug '_hm-forms.mod.scss';

@mixin form-item-container {
  background-color : $hm-grey;
  border-radius : 10px;
  padding : 0.3em;
  height: 60px;
};

/**
 * USER FORM ELEMENT DEFINTION
 */

// The main form container
.hm-form {
  padding-top : 1rem 0;
  span[hm-el="flag"] {
    font-size: px2rem(17px);
  };
  form {
    margin-top : 1em;
    @include flex-box(column,center);
  };
  .hm-form-row, .hm-geo, .hm-goods{
    margin-top: 1.2rem;
    &.small-margin {
      margin-top: .2rem;
    }
  }
}

.user-form .hm-form {
  form {
    maring-top: 0;
  }
  h1 {
    font-family: hm-bold;
    font-size: px2rem(20px);
    color: $hm-grey-74;
  }
  h2 {
    font-size: px2rem(14px);
  }
  .hm-renting span, .hm-goods-bar span {
    // font-size: px2rem(16px);
  }
}

.hm-form-row {
  @include flex-box(row,center);
  & > * {
    width : 100%;
  };
  & > :not(:first-child) {
    margin-left : 0.5em;
  };
}

/**
 * DIRECTIVES
 */

// hm-for directive style
.hm-for, .hm-user-intent {
  @include flex-box(row,space-evenly);
  padding : 1em 0;
  div[hm-el="choice"] {
    text-align : center;
    span[hm-el="text"] {
      font-size: px2rem(19px);
    };
    span[hm-el="sub-text"] {
      font-family  : 'hm-light';
      font-size: px2rem(14px);
    };
  };
}

hm-goods-bar {
  div[hm-el="subtitle"] {
    padding-top: 1em;
    span {
      font-size: px2rem(13px);
    }
  }
}

.hm-renting {
  margin-top: 1rem;
}
.hm-goods-bar {
  margin-top: 0;
}
.hm-renting, .hm-goods-bar {
  @include form-item-container;
  padding : 0;
  a.button {
    @include flex-box(column,center);
    background-color : transparent;
    border-width: 0 2px 0 0;
    border-color : $hm-grey-74-transp;
    // border-color: $hm-grey-74;
    padding : 0.2em;
  };
  a.button:last-child {
    border-right : none;
  };
  a.button.active, a.button.selected {
    border-left-color : transparent;
    border-top-color : transparent;
    border-bottom-color : transparent;
    background-color : $hm-dark-grey;
    color: $light;
    span {
      color : $light;
    }
  };
  span, a.button {
    font-size: px2rem(12px);
  }
  span {
    line-height : font-scale(2) * 1.2;
    font-family: hm-regular;
  };
}
.hm-goods-bar.button-bar > .button:first-child {
    // min-width: 7em;
}

// hm-geo , hm-datepicker, hm-period, charge for lessor directive style
.hm-fix-charge {

  input {
    max-width: 4rem;
  }
}
.hm-geo, .hm-from, .hm-fix-charge, .hm-period {
  margin-top : 0.5em;
  @include flex-box(row,flex-start);
  @include form-item-container;
  img {
    max-width: 21px;
  }
  div {
    margin-left : 1em;
    @include flex-box(column,center);
    & span {
      @include font-context(1);
      font-family: hm-light;
      color : $dark;
    };
    & input::-webkit-input-placeholder {
      font-family: hm-light;
      color : $dark;
    };
    & input::-moz-placeholder {
      font-family: hm-light;
      color : $dark;
    };
    & input:-moz-placeholder {
      font-family: hm-light;
      color : $dark;
    };
  };
  .button {
    width: 100%;
    height: 100%;
    font-size: px2rem(13px);
    line-height: px2rem(42px);
    font-family: hm-extra-light;
  }
  .button.smaller-line-height {
    line-height: 1.5;
  }
  a.selected {
    background-color: $hm-dark-grey;
  }
}

.hm-range-charge {
  margin-top : 1rem;
  border : none !important; // FIXME
  span {
    font-size: px2rem(17px);
    color : $dark;
  };
  .range {
    border-color: white;
    padding: 0;
    input {
      margin: 0;
    }
  }
}

.hm-form-item-container-space-between {
   @include flex-box(row,space-between);
   *:first-child {
     margin-left : 1em;
     @include form-item-container;
   };
   *:last-child {
     margin-right : 1em;
     @include form-item-container;
   };
}

// deprecated
.hm-form-item-container-start {
  margin-top : 0.5em;
  @include flex-box(row,flex-start);
  @include form-item-container;
}

// deprecated
.hm-form-item-container-start div {
  margin-left : 1em;
  @include flex-box(column,center);
  & span {
    @include font-context(1);
    font-family: hm-light;
    color : $dark;
  }
}

.hm-form-item-container {
  @include form-item-container;
}

.hm-form-group-item-container {
  margin-top : 0.5em;
  div {
    margin-top : 0.2em;
  }
}

input, textarea {
  background-color : transparent;
}

textarea {
  width : 100%;
  height : row(7);
  resize : none;
  @include font-context(1);
  @include form-item-container;
}

input[type="number"] {
  font-size: px2rem(13px);
  line-height : font-scale(2) * 1.2;
}

input[type="text"] {
  width : 100%;
  font-size: px2rem(13px);
  line-height : font-scale(2) * 1.2;
  @include form-item-container;
}

label {
  @include font-context(1);
  font-family: hm-regular;
}

.hm-thumb {
  position : relative;
  height : row(7);
  width : 30%;
  overflow : hidden;
  img {
    position : absolute;
    display : block;
    min-width : 100%;
    min-height : 100%;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }
}

img[hm-object="img-button"] {
  min-height : none;
}

// validation
hm-renting-bar.ng-invalid-is-set > div,
hm-geo.ng-invalid-is-set > div,
hm-goods.ng-invalid-is-set > div,
hm-datepicker.ng-invalid-is-set > div,
hm-period.ng-invalid-is-set > div
{
  border-style : solid;
  border-color : red;
}

hm-description.ng-invalid-is-set > div,
hm-images.ng-invalid-is-set > div
{
  border-style : solid;
  border-color : green;
  background: green;
}

.ng-valid-is-set > div {
  border-style : solid;
  border-color : black;
}



// sizing
.hm-checkbox-choice span {
  font-size: px2rem(17px);
}

.hm-checkbox-choice span.hm-sub-text {
  font-family  : 'hm-light';
  font-size: px2rem(12px);
}

// validation
hm-renting-bar.ng-invalid-is-set > div.hm-renting,
hm-geo.ng-invalid-is-set > div.hm-geo,
hm-goods.ng-invalid-is-set > div.hm-goods,
hm-datepicker.ng-invalid-is-set > div.hm-from,
hm-period.ng-invalid-is-set > div.hm-period,
hm-fix-charge.ng-invalid-is-set > div.hm-fix-charge,
hm-range-charge.ng-invalid-is-set > div.hm-range-charge,
{
  // border-style : solid;
  // background : $hm-error;
}

hm-description.ng-invalid-is-set > div,
hm-images.ng-invalid-is-set > div
{
  border-style : solid;
  border-color : green;
  background: green;
}

.ng-valid-is-set > div {
  border-style : solid;
  border-color : black;
}



.hm-geo {
  input[type="text"] {
    background-color: #F2F2F2 !important;
  }
}

.hm-form {
  h1 {
    @include font-context(2);
    margin-bottom: 0;
  }
  p {
    @include font-context(1);
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-forms-mod--phones-prtrt() {
}
@mixin media-forms-mod--phones-lndscp() {
}
