.hm-messages {
  padding: 0em 1em;
  h1 {
    @include font-size(5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3 {
    @include font-size(3);
    margin-bottom: 0;
  }
  .search {
    background: #f2f2f2;
    border: none;
    border-radius: .5em;
    @include font-size(3);
    i {
      color: black;
    }
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .title {
    span{
      @include font-size(1);
    }
  }
  i {
    @include font-size(2);
  }
  .message {
    margin-top: 1em;
    padding-left: 2.5em;
    border-bottom: 1px solid #ddd;
  }
  p {
    @include font-size(2);
  }

  .chatbox, #message-form {
    position:absolute;
    bottom: 0px;
  }
  .message-input {
    margin-top: 10px;
  }

  .chatbox-container {
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
    position:relative;
    height: 300px;
    border: 1px solid rgba(0,0,255, 0.2);
    padding: 10px;
    line-height: 29px;
    overflow: scroll;
  }

  .nopadding{
    /*padding: 0;*/
  }


  /*New Chat Styles*/
  .item-avatar-right{
    padding-left: 0;
    padding-bottom: 0;
  }

  .item-avatar-left{
    padding-right: 0;
    padding-bottom: 0;
  }

  .bar.item-input-inset .item-input-wrapper{
    height: 50px;
  }

  .item {
    border: none;
  }

  .bubbleLeft{
    position: relative;
    padding: 5px;
    background: #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    margin-bottom: 5px;
    text-align: left;
    width: max-content;
    max-width: 70%;
    p {
      color: white;
    }
  }


  .bubbleRight{
    position: relative;
    padding: 5px;
    background: #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    margin-bottom: 5px;
    text-align: left;
    width: max-content;
    max-width: 70%;
    p {
      color: black;
      opacity: .8;
    }
  }



  /*Merchant*/
  .option_icons{
    margin-bottom: 20px;
  }

  .option_icons .col{
    margin-left: 5px;
    font-size: 14px;
  }

  div[hm-el="hm-textarea"] {
    padding: .5em 0em;
    border-radius: 5px;
    width: calc(100% - 2em);
    position: fixed;
    bottom: 55px;
    &.onGoing {
      opacity: .5;
    }
    textarea {
      overflow: hidden;
      height: 42px;
      width: 100%;
      font-size: 14px;
      display: block;
      border-radius: 10px;
      padding: 8px;
      line-height: 1.2em;
    }
    a {
      position: absolute;
      bottom: 15px;
      right: 5px;
    }
  }
  .item {
    min-height: 50px;
  }


  //

  .msg {
    display: flex;
    div {
      padding: .5em;
      margin: .5em 0em;
      border-radius: .5em;
      @include font-size(1);
      background: $balanced;
      color: #FFFFFF;
      max-width: 70%;
    }
  }

  .msg-left {
    flex-direction: row-reverse;
  }

  .room {
    height: calc(100vh - 17em);
    overflow-y: scroll;
  }

  h4 {
    text-align: center;
    margin-top: 10em;
    @include font-size(2);
  }

  .max-lines {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.6em;
    line-height: 1.3em;
    opacity: .5;
  }
}
