.hm-register-number, .hm-register-form {
  h1 {
    text-align: center;
    font-family: hm-extra-light;
    &.with-bottom-text {
      font-size: px2rem(30px);  
      margin-bottom: 5rem;
    }
    span {
      font-size: px2rem(30px);
      text-decoration: underline;
      font-family: inherit;
    }
  }
  h3 {
    text-align: center;
    font-size: px2rem(16px);
    font-family: hm-regular;
    color: $hm-grey-74;
  }
  h2 {
    font-size: px2rem(20px);
    margin-top: 5%;
    font-family: hm-bold;
  }
  h4 {
    font-size: px2rem(14px);
    margin-bottom: 5%;
  }
}

.hm-register-number {

  &.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 70vh;
    // h1 {
    //   line-height: 2em;
    // }
  }

  &.infos {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: 70vh;
    h1.smaller {
      margin: 0;
      // text-align: center;
      font-size: px2rem(24px);
      margin-bottom: 1rem;
    }
    h4 {
      font-family: hm-light;
      font-size: px2rem(14px);
      padding: 0 0 .3rem 0;
      margin: 1rem 0 0 0;
      color: $hm-grey-74;
      line-height: 1;
    }
    .row {
      padding: .5rem 0 .5rem 0;
      border: 1px solid #CCCCCC;
      border-left: 0px;
      border-right: 0px;
      .col {
        display: flex;
        align-items: center;
        font-size: px2rem(12px);
        font-family: hm-regular;
        color: $hm-grey-74;
        line-height: 1.5;
      }
    }
    img {
      height: px2rem(20px);
    }
  }


  div[hm-el="addList"] {
    div[hm-el="add"] {
      margin-top: 2em;
      background: #F5F5F5;
      div {
        font-size: px2rem(17px);
      }
      span {
        font-size: px2rem(16px);
        // font-family: $hm-font-bold;
        &.ad-address {
          font-family: hm-medium;
          // font-size: px2rem(16px);
          color: black;
        }
        &.ad-price {
          font-family: hm-medium;
          // font-size: px2rem(16px);
          color: $hm-grey-74;
        }
        &.ad-offre, &.ad-type, &.ad-period {
          font-family: hm-light;
          // font-size: px2rem(16px);
          color: $hm-grey-74;
        }

      }
    }
    .col-25 {
      padding-left: 5vw;
      padding-top: 5vw;
    }
  }

  .button-bar {
    margin-top: 2em;
    .button {
      height: 60px;
      line-height: 60px;
    }
    .button:first-child {
      position: relative;
      border-radius: 10px 0px 0px 10px;
    }
    .button:first-child:after {
      content:'';
      position: absolute;
      right: 0;
      left: auto;
      top: 5px;
      bottom: 5px;
      width: 10px;
      border-right: 1px solid $hm-grey-74;
    }
    .button:last-child {
      border-radius: 0px 10px 10px 0px;
    }
    .selected {
      background: grey;
      color: white;
    }
  }

  div[hm-el="center"] {
    margin-top: 1rem;
    a {
      font-size: px2rem(17px);
      margin-top: 2em;
    }
    color: $balanced;
    text-decoration: underline;
    text-align: center;
    line-height: 3rem;
  }
}



.hm-register-form {
  &.submit {
    .item-input {
      margin: 0 2em;
    }
  }
  input {
    height: 34px;
    font-family: hm-regular;
    font-size: px2rem(30px);
    color: black;
    padding: 0.3em 0.3em 0.3em 0;
    &.adresse {
      font-size: px2rem(14px);
    }
  }  
  .hm-input {
    margin-top: 0em;
    padding-left: 0em;
    &.number {
      input {
        // font-size: px2rem(17px);
        // text-align: center;
      }
    }
  }
  div[hm-el="center"] {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    a {
      font-size: px2rem(12px);
      margin-top: 2em;
    }
    color: $hm-green-link;
    text-decoration: underline;
    text-align: center;
  }
}

// mixins called in _hm-media-queries.scss
@mixin media-register-number-mod--phones-prtrt() {
}
@mixin media-register-number-mod--phones-lndscp() {
}
