.hm-share{
  h1 {
    font-family: hm-extra-light;
    text-align: center;
    font-size: px2rem(30px);
    span {
      font-size: px2rem(30px);
      text-decoration: underline;
      font-family: inherit;
    }
    &.smaller-20 span {
      font-size: px2rem(20px);
      text-decoration: underline;
    }
  }

  div[hm-el="img-container"] {
    width: 100%;
    text-align: center;
  }


  h3 {
    text-align: center;
    font-size: px2rem(13px);
    margin-top: 10%;
    margin-left: 2em;
    margin-right: 2em;
  }

  h2 {
    text-align: center;
    font-size: px2rem(22px);
    margin-top: 5%;
    span {
      font-size: px2rem(22px);
      text-decoration: underline;
    }
  }
  h4 {
    font-size: px2rem(13px);
    margin-bottom: 5%;
  }

  p {
    position: relative;
    // text-align: justify;
    font-family: hm-extra-light;
    margin: 0 2rem 4rem 2rem;
    font-size: px2rem(16px);
  }

  img[hm-el="quotes-start"] {
    position: absolute;
    right: .2em;
  }

  img[hm-el="quotes-start"] {
    position: absolute;
    left: -2em;
  }

  img[hm-el="button-icon"] {
    position: absolute;
    left: 2em;
  }
}

div[hm-el="button-sms"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $balanced;
  text-transform: uppercase;
  color: white;
  height: $hm-button-footer-height;
  bottom: $hm-button-footer-height;
  position: absolute;
  width: 100%;
  left: 0px;
  img {
    height: 2rem;
    width: 2rem;
    // margin-top: 1.5rem;
  }
  div {
    // padding-top: 1.2em;
    font-size: px2rem(16px);
    padding-left: 1rem;
  }
  .two-buttons {
    position: relative;
  }
}


// mixins called in _hm-media-queries.scss
@mixin media-share-mod--phones-prtrt() {
}
@mixin media-share-mod--phones-lndscp() {
}
