/**
 * Définition des styles pour la gestion des
 * annonces de l'utilisateur. i.e. celles qui
 * lui appartiennent.
 * @deprecated too many class name, bad file location declarations
 */

.hm-add-item {
  display : flex;
  justify-content : space-between;
  margin : 1em;
  padding : 1em;
  background-color : $hm-light;
  border-radius : 0.5em;
}

.hm-add-item-left {
 }

 .hm-add-item-right {
   padding : 1em;
   @include flex-box(column,center);
 }

.hm-add-item span[hm-type="address"],
.hm-add-item span[hm-type="charge"] {
  font-family: hm-bold;
}

.hm-add-item span[hm-type="add-type"],
.hm-add-item span[hm-type="renting"],
.hm-add-item span[hm-type="from"] {
  font-family: hm-regular;
}

.hm-add-item-left img {
  width : 0.8em;
}

.hm-add-item-right img {
  width : 4em;
}

// mixins called in _hm-media-queries.scss
@mixin media-adds-mod--phones-prtrt() {
}
@mixin media-adds-mod--phones-lndscp() {
}
