/** 
 * HouseMatch menu 
 */

@debug '_hm-menu.mod.scss';

li.hm-list-separator {
  height: 1rem;
  background-color: $grey-light;
}

.hm-menu-list menu-item:first-child .hm-menu-item {
  border-top: solid .5px $grey;
}

.hm-menu-item {
  box-sizing : content-box;
  padding : 0.5rem;
  background-color : $light;
  height : row(4);
  position: relative;
  &:before {
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 1.5rem;
    height: 5px;
    // border-bottom: solid .5px $grey;
    border-bottom: solid 2px #EEEEEE;
  }
  
  @include flex-box(row,flex-start);

  div[hm-el="left"] {
    @include flex-box(column,center);
    margin-left : 1rem;
    img {
      width : px2rem(25px);
    }
  };
  div[hm-el="middle"] {
    margin-left : px2rem(26px);
    font-size: px2rem(20px);
    color: $hm-grey-74;
    @include flex-box(column,center);
    span {
      font-size : inherit;
      .menu-small {
        @include line-height(0);
        font-size: px2rem(10px);
      };
    };
  };
 div[hm-el="right"] {
   @include flex-box(column,center);
   margin-left : auto; // stick right
   margin-right : 1rem;
   img {
     width : 0.6rem;
   };
 };
}

// mixins called in _hm-media-queries.scss
@mixin media-menu-mod--phones-prtrt() {
}
@mixin media-menu-mod--phones-lndscp() {
}
