<div ng-controller="MainCtrl">

<ion-view class="hm-nav-bar">

    <!-- the header bar -->
    <!--ion-nav-bar align-title="center"> </ion-nav-bar-->

    <!-- child view injection here -->
    <ion-nav-view name="navbar-view"></ion-nav-view>

    <!-- the footer bar with the navbar -->
    <ion-footer-bar class="hm-nav-bar" ng-switch="state.current.name">

      <div hm-el="nav-container" ng-switch-when="nav.news">
        <div class="nav-div" ui-sref="nav.news">
          <img src="img/svg/news-on.svg">
          <span class="menu-name">{{ 'menu.2' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.match_menu">
          <img class="menu-higher-icon" src="img/svg/match-off.svg">
          <span class="menu-name">{{ 'menu.4' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.messages">
          <img src="img/svg/mail-off.svg">
          <span class="menu-name">{{ 'menu.3' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.menu">
          <img src="img/svg/menu-off.svg">
          <span class="menu-name">{{ 'menu.0' | translate }}</span>
        </div>
      </div>

      <div hm-el="nav-container" ng-switch-when="nav.news_map">
        <div class="nav-div" ui-sref="nav.news">
          <img src="img/svg/news-on.svg">
          <span class="menu-name">{{ 'menu.2' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.match_menu">
          <img class="menu-higher-icon" src="img/svg/match-off.svg">
          <span class="menu-name">{{ 'menu.4' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.messages">
          <img src="img/svg/mail-off.svg">
          <span class="menu-name">{{ 'menu.3' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.menu">
          <img src="img/svg/menu-off.svg">
          <span class="menu-name">{{ 'menu.0' | translate }}</span>
        </div>
      </div>

      <div hm-el="nav-container" ng-switch-when="nav.match_menu">
        <div class="nav-div" ui-sref="nav.news">
          <img src="img/svg/news-off.svg">
          <span class="menu-name">{{ 'menu.2' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.match_menu">
          <img class="menu-higher-icon" src="img/svg/match-on.svg">
          <span class="menu-name">{{ 'menu.4' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.messages">
          <img src="img/svg/mail-off.svg">
          <span class="menu-name">{{ 'menu.3' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.menu">
          <img src="img/svg/menu-off.svg">
          <span class="menu-name">{{ 'menu.0' | translate }}</span>
        </div>
      </div>

      <div hm-el="nav-container" ng-switch-when="nav.match_list">
        <div class="nav-div" ui-sref="nav.news">
          <img src="img/svg/news-off.svg">
          <span class="menu-name">{{ 'menu.2' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.match_menu">
          <img class="menu-higher-icon" src="img/svg/match-on.svg">
          <span class="menu-name">{{ 'menu.4' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.messages">
          <img src="img/svg/mail-off.svg">
          <span class="menu-name">{{ 'menu.3' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.menu">
          <img src="img/svg/menu-off.svg">
          <span class="menu-name">{{ 'menu.0' | translate }}</span>
        </div>
      </div>

      <div hm-el="nav-container" ng-switch-when="nav.messages">
        <div class="nav-div" ui-sref="nav.news">
          <img src="img/svg/news-off.svg">
          <span class="menu-name">{{ 'menu.2' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.match_menu">
          <img class="menu-higher-icon" src="img/svg/match-off.svg">
          <span class="menu-name">{{ 'menu.4' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.messages">
          <img src="img/svg/mail-on.svg">
          <span class="menu-name">{{ 'menu.3' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.menu">
          <img src="img/svg/menu-off.svg">
          <span class="menu-name">{{ 'menu.0' | translate }}</span>
        </div>
      </div>

      <div hm-el="nav-container" ng-switch-default>
        <div class="nav-div" ui-sref="nav.news">
          <img src="img/svg/news-off.svg">
          <span class="menu-name">{{ 'menu.2' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.match_menu">
          <img class="menu-higher-icon" src="img/svg/match-off.svg">
          <span class="menu-name">{{ 'menu.4' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.messages">
          <img src="img/svg/mail-off.svg">
          <span class="menu-name">{{ 'menu.3' | translate }}</span>
        </div>
        <div class="nav-div" ui-sref="nav.menu">
          <img src="img/svg/menu-on.svg">
          <span class="menu-name">{{ 'menu.0' | translate }}</span>
        </div>
      </div>

    </ion-footer-bar>

</ion-view>

</div>
