<div class="bar bar-header hm-cmd-bar">
  <div class="button" ui-sref="nav.news">Retour</div>
</div>
<div class="bar bar-subheader hm-title-bar">
  <span class="title">{{ 'news.0' | translate }}</span>
</div>

<ion-content>
<div id="main_map" class="has-subheader"> </div>
</ion-content>
