<ion-view class="hm-news-mod">

  <div class="bar bar-header hm-cmd-bar">
    <!--div class="button">btn-left</div-->
    <h1 class="title"></h1>
    <!--div class="button">btn-right</div-->
  </div>
  <div class="bar bar-subheader hm-title-bar">
    <span class="title">{{ 'news.0' | translate }}</span>
  </div>

  <div ng-switch="data.content">

    <div ng-switch-when="true">
      <div hm-el="floating-icon"> <img ng-src="img/svg/floating-map.svg" ng-click="ctrl.map()"> </div>
      <ion-content class="has-subheader" overflow-scroll="true">

        <!-- <div class="list list-inset"> -->
          <label class="item-input search">
            <!-- <i class="icon ion-search placeholder-icon"></i> -->
            <img src="img/icons/search-gray.svg" class="custom-placeholder-icon"></img>
            <input type="text" placeholder="{{ 'btn_research' | translate}}" ng-model="search">
          </label>
        <!-- </div> -->

        <div class="list">
          <div ng-repeat="item in data.items | filter:search track by $index" ng-click="ctrl.detail(item,$index)">
            <hm-news-item id="hm{{item.id}}-{{item.timestamp}}" ng-model="item" ng-if="!item.hasOwnProperty('addvert')" index="{{$index}}"></hm-news-item>
            <hm-addvert ng-if="item.hasOwnProperty('addvert')"></hm-addvert>
          </div>
        </div>
      </ion-content>
    </div>

    <div ng-switch-when="false" class="hm-no-news">
        <ion-content class="has-subheader">
          <div class="hm-no-news">
            <div hm-el="sad"><img ng-src="img/icons/sad.svg"></div>
            <div hm-el="comment">{{'news.1' | translate}}</div>
            <div hm-el="message">{{'news.2' | translate}}</div>
            <div hm-el="comment">{{'news.3' | translate}}</div>
            <div hm-el="tip">{{'news.4' | translate}}</div>
          </div>
        </ion-content>
    </div>

</ion-view>
