<ion-view class="hm-detail-add resquest">
  <ion-content>

    <a hm-el="back-button" ui-sref="nav.news({item : ctrl.add})"> <img src="img/back-icon-black.png"/></a>
    
    <div hm-el="avatar">
      <img ng-src="{{ctrl.avatar}}">
    </div>
    
    <div class="row" hm-el="detail-header">
      <div class="col col-50">
        <h2>{{ctrl.add.profile.name + ' ' + ctrl.add.profile.surname}}</h2>
        <h4>-{{ctrl.getIntent()}} -</h4>
      </div>
      <div class="col col-40" hm-el="detail-text-title">

        <div hm-el="hm-network">
          <img ng-src="{{'img/' + ctrl.add.distance + 'ecercle.png'}}"/>
          <span>{{ ctrl.add.distance }}e cercle</span>
        </div>

      </div>
      <div class="col col-10" hm-el="detail-text-title">
        <img hm-el="more" src="img/svg/3points.svg"/>
      </div>
    </div>

    <div class="row">
      <div class="col col-50" hm-el="zone-recherche">zone de recherche :</div>
      <div class="col texte-right" hm-el="detail-text-title">Loyer Max:</div>
    </div>

    <div class="row">
      <div class="col col-67" hm-el="geo-address">{{ctrl.add.geo.address}}</div>
      <div class="col texte-right prix">{{ctrl.add.charge}} €</div>
    </div>

    <div class="hm-detail-card">
      <div class="hm-detail-card-texte">
        {{ ctrl.intermediariesCount}} en commun
      </div>
      <div class="hm-detail-card-texte-bold">
        {{ ctrl.intermediariesName }}
      </div>
    </div>

    <div class="row">
      <h1 class="title">Type de logement :</h1>
    </div>
    
    <hm-static-renting-bar ng-model="ctrl.add.renting"></hm-static-renting-bar>

    <div class="row dates-meuble">
      <div class="col col-60">A partir de : <br/><span class="bold">{{ctrl.add.from | amDateFormat:'DD MMM YYYY'}} </span></div>
      <div class="col texte-right">Meublé : <br/>  <span class="bold">non-renseigné</span></div>
    </div>

    <div class="row">
      <div class="col col-60">Surface (min.) : <br/> <span class="bold">Non-renseigné</span></div>
      <div class="col texte-right">Durée (min.) : <br/>  <span class="bold">{{ctrl.getDuration()}}</span></div>
    </div>

    <div class="grey-line">
    </div>

    <div class="row">
      <h1 class="title">A propos de moi :</h1>
    </div>

    <div class="row">
      <p>
        {{ctrl.add.description.text}}
      </p>
    </div>

    <br/><br/><br/>

  </ion-content>

  <div class="bar bar-footer">
    <div class="row">
      <div class="col col-60" hm-el="detail-title-button"><span class="bold">Contactez-moi</span></div>
      <div class="col col-40 button button-balanced" hm-el="detail-text-button">Proposer une periode d'essai</div>
    </div>
  </div>

</ion-view>
