<ion-view class="hm-detail-add">
  <a hm-el="back-button" ui-sref="nav.news({item:ctrl.add})"> <img src="img/back-icon-white.png"/></a>
  <ion-content>
    <div hm-el="detail-form">
      <ion-slides options="ctrl.options" slider="data.slider">
        <ion-slide-page ng-repeat="img in ctrl.images">
          <div>
            <img ng-src="{{img.src ? img.src : ''}}">
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
    <div hm-el="detail-title">
      <img hm-el="more" src="img/svg/3points.svg"/>
      <h1 class="title">{{ctr.add.description.title || 'aucun titre'}}</h1>
    </div>
    <div class="sumup row">
      <div class="col col-50" hm-el="detail-text-title">{{ctrl.add.goods.goods_type == 0 ? 'Studio' : (ctrl.add.goods.goods_type + 1) + ' piéces'}} - {{ctrl.add.surface}}m2</div>
      <div class="col  texte-right" hm-el="detail-text-title">Loyer: <span class="semibold">{{ ctrl.add.charge }} €</span></div>
    </div>
    <div class="row">
      <div class="col col-67" hm-el="detail-text-title">{{ctrl.add.from | amDateFormat:'DD MMM'}} {{ctrl.getDateEnd()}}</div>
      <div class="col texte-right" hm-el="detail-text-title">{{ ctrl.getRenting() | translate }}</div>
    </div>
    <div class="hm-detail-card">
      <div class="hm-detail-card-texte">
        Auteur de l'annonce:
      </div>
      <div class="hm-detail-card-texte-bold">
        {{ctrl.add.profile.name + ' ' + ctrl.add.profile.surname}} <span class="smallgrey"> - {{ctrl.getIntent()}}- </span>
      </div>
      <div hm-el="hm-network">
        <img ng-src="{{'img/' + ctrl.add.distance + 'ecercle.png'}}"/>
        <span>{{ ctrl.add.distance }}e cercle</span>
      </div>
      <div class="hm-detail-card-texte">
        {{ ctrl.intermediariesCount}} en commun
      </div>
      <div class="hm-detail-card-texte-bold">
        {{ ctrl.intermediariesName }}
      </div>
    </div>
    <div class="row">
      <h1 class="title">Description</h1>
    </div>
    <div class="hm-detail-card">
      <p>
        {{ctrl.add.description.text}}
      </p>
    </div>
    <div class="row">
      <h1 class="title">Logement situé à proximité de :</h1>
    </div>
    <div class="hm-news-map" id="addMap">
      Loading leaflet map...
    </div> <!-- map -->
    <br/><br/><br/><br/><br/>

  </ion-content>

  <div class="bar bar-footer">
    <div class="row">
      <div class="col col-66" hm-el="detail-title-button"><span class="bold">{{ ctrl.add.charge }} €</span> par mois</div>
      <div class="col col-33 button button-balanced" hm-el="detail-text-button">Envoyer un message</div>
    </div>
  </div>
  
</ion-view>
