<ion-modal-view class="userModal">
  <ion-header-bar>
    <h1 class="title">Zombie mode</h1>
    <button class=" item button button-icon icon ion-close-round close-modal" ng-click="ctrl.modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ng-repeat="user in ctrl.users">
        <i class="icon ion-person"></i>
        {{ user.profile.name }}
        <i class="icon ion-arrow-right-c" ng-click="ctrl.logIn(user)"></i>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
