<hm-logo-bar
left-cb="ctrl.skip()"
left-name="ctrl.swiper.activeIndex != 3 ? 'Passer' : ''">
</hm-logo-bar>
<ion-content scroll="false" class="hm-tutorial has-hm-logo-bar has-hm-button-footer">
  <ion-slides slider="swiper" options="ctrl.swiperOptions">
    <ion-slide-page>
      <div class="hm-container-for-slides">
        <div hm-el="slide1">
          <h1>{{ 'init.0' | translate }}</h1>
          <img src="img/tutorial/slide1sanstexte.png" ng-click="ctrl.admin_menu()">
          <div class="row row-fixedwidth">
            <div class="col">{{ 'init.10' | translate }}</div>
            <div class="col">{{ 'init.11' | translate }}</div>
            <div class="col">{{ 'init.12' | translate }}</div>
          </div>
          <h3>{{ 'init.1' | translate }}</h3>
        </div>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="hm-container-for-slides">
        <div hm-el="slide2">
          <h1>{{ 'init.2' | translate }}</h1>
          <img src="img/tutorial/slide2sanstexte.png">
          <div class="row row-fixedwidth">
            <div class="col">{{ 'init.10' | translate }}</div>
            <div class="col">{{ 'init.11' | translate }}</div>
            <div class="col">{{ 'init.13' | translate }}</div>
          </div>
          <h3>{{ 'init.3' | translate }}</h3>
        </div>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="hm-container-for-slides">
        <div hm-el="slide3">
          <h1>{{ 'init.4' | translate }}</h1>
          <img src="img/tutorial/slide3sanstexte.png">
          <div class="row row-fixedwidth">
            <div class="col">{{ 'init.14' | translate }}</div>
            <div class="col">{{ 'init.15' | translate }}</div>
            <div class="col">{{ 'init.16' | translate }}</div>
          </div>
          <h3>{{ 'init.5' | translate }}</h3>
        </div>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="hm-container-for-slides">
        <div hm-el="slide4">
          <h1>{{ 'init.6' | translate }}</h1>
          <img src="img/tutorial/slide4sanstexte.png">
          <div class="row row-fixedwidth">
            <div class="col">{{ 'init.17' | translate }}</div>
            <div class="col">{{ 'init.10' | translate }}</div>
            <div class="col">{{ 'init.18' | translate }}</div>
          </div>
          <h3>{{ 'init.7' | translate }}</h3>
          <div hm-el="text-infos">
            {{ 'init.8' | translate }}
            <br/>
            <a ng-click="ctrl.aboutHM()">{{ 'init.9' | translate }}</a>
          </div>
        </div>
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
<hm-button-footer title="'btn_next'" ng-click="ctrl.next()"></hm-button-footer>
<!-- <hm-button-footer title="'btn_next'" ng-click="ctrl.next()"></hm-button-footer> -->
