<ion-view title={{::title}}>

  <ion-content class="has-header hm-messages">
    <h1>Messagerie</h1>
    <label class="item item-input search">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="search">
    </label>
    <div class="message" ng-repeat="room in ctrl.rooms" ui-sref="nav.message({room: room})">
      <div class="title">
        <span class="left">{{room.title}}</span>
         <span class="right" am-time-ago="room.timestamp">
           <i class="ion-chevron-right"></i>
         </span>
       </div>
       <br/>
      <p class="max-lines">{{room.content}}</p>
    </div>

    <!--ion-scroll >
    </ion-scroll-->
    <div>{{ mailbox | json }}</div>
  </ion-content>

</ion-view>
