<ion-view title={{::title}}>

  <ion-content class="has-header hm-messages" scroll="false">
    <h1>{{ctrl.room.title}}</h1>
    <hr/>
    <h4 ng-if="ctrl.onGoing">Chargement ..</h4>
    <h4 ng-if="ctrl.error">erreur lors du Chargement</h4>
    <h3 ng-if="ctrl.isEmptyMessage()">Suggestion :</h3>
    <p ng-if="ctrl.isEmptyMessage()">Commencez par parler de votre relation commune (du moment ou de l’endroit où vous vous êtes rencontré…)</p>
    <div class="room" id="chat-room" ng-style="{height : ctrl.getRoomHeight()}">
      <div class="msg" ng-repeat="msg in ctrl.getMessages()" ng-class="{'msg-left': msg.sender == ctrl.userUid }" >
        <div>
          {{msg.content}}
        </div>
      </div>
    </div>

    <div hm-el="hm-textarea" ng-class="{'onGoing': ctrl.onGoing || ctrl.error}" ng-style="{bottom: ctrl.textAreaBottom}">
      <textarea type="text" ng-model="ctrl.theMessage"
                placeholder="Type your message..."
                ng-style="{}"></textarea>
      <a ng-click="ctrl.send()"><img src="img/submit.png"/></a>
    </div>
    <!--ion-scroll >
    </ion-scroll-->
    <div>{{ mailbox | json }}</div>
  </ion-content>

</ion-view>
