<ion-view>


  <ion-content>

    <!-- header --> 
    <div class="hm-header-bar">
      <img object-type="item-left" src="img/icons/arrow-left-gray.svg"/>
      <img object-type="item-center" src="img/svg/Logo.svg" width="50" height="50"/>
    </div>

    <div class="hm-form-container">
      <div> 
        <span> {{ 'register.add.0' | translate }} </span>
        <br>
        <span> {{ 'register.add.1' | translate }} </span>
      </div>
      <form novalidate ng-submit="ctrl.publish()" name="ctrl.form">
        <hm-form-for intent="add.for"></hm-form-for>
        <hm-renting-bar ng-model="add.renting" name="renting"></hm-renting-bar>
        <hm-geo ng-model="add.geo" name="geo"></hm-geo>
        <!--hm-goods ng-model="add.goods" name="goods"></hm-goods-->
        <hm-datepicker ng-model="add.from" name="date"></hm-datepicker>
        <div ng-if="add.for=='tenant'" class="hm-form-item-container-start">
          <div>
  	        <img src="img/icons/euro-black.svg">
          </div>
          <div>
            <input type="number" name="charge" ng-model="add.charge" placeholder="{{'Loyer' | hm_translation }}">
          </div>
          <hm-period ng-model="add.period" name="period"></hm-period>
        </div>
        <div ng-if="add.for=='lessor'">
          <hm-period ng-model="add.period" name="period"></hm-period>
          <div class="range-text">
            Loyer max : <span class="value">{{ add.charge }} &euro;</span>
          </div>
          <div class="item range">
            <input type="range" name="charge" ng-model="add.charge" min="0" max="100">
          </div>
        </div>
        <!--hm-description ng-model="add.description" name="description"></hm-description>
        <hm-images ng-model="add.images" name="images"></hm-images-->
        <button class="button button-block button-positive text-uppercase" type="submit">
          {{ 'btn_publish' | translate }}
        </button>
      </form>
    </div>
  </ion-content>

</ion-view>
